/**
 * Default
 */
.ast-desktop {
  /**
     * Underline
     */
  /**
     * Overline
     */
}

.ast-desktop .ast-link-pointer-style > .ast-menu-item-li,
.ast-desktop .ast-link-pointer-style > .ast-menu-item-li > .ast-menu-item {
  position: relative;
}

.ast-desktop .ast-link-pointer-style > .ast-menu-item-li > .ast-menu-item {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.ast-desktop .ast-link-pointer-style > .ast-menu-item-li > .ast-menu-item:before {
  display: block;
  position: absolute;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.ast-desktop .ast-link-pointer-style > .ast-menu-item-li > .ast-menu-item:not(:hover):not(:focus):before {
  opacity: 0;
}

.ast-desktop .ast-link-pointer-style > .ast-menu-item-li:hover > .ast-menu-item:not(:hover):not(:focus):before {
  opacity: 1;
}

.ast-desktop .ast-link-pointer-style-underline > .ast-menu-item-li > .ast-menu-item:before {
  content: '';
  bottom: 0;
}

.ast-desktop .ast-link-pointer-style-underline > .ast-menu-item-li > .ast-menu-item:before {
  height: 3px;
  width: 100%;
  right: 0;
  background-color: #0274be;
  z-index: 2;
}

.ast-desktop .ast-link-pointer-style-overline > .ast-menu-item-li > .ast-menu-item:before {
  content: '';
  top: 0;
}

.ast-desktop .ast-link-pointer-style-overline > .ast-menu-item-li > .ast-menu-item:before {
  height: 3px;
  width: 100%;
  right: 0;
  background-color: #0274be;
  z-index: 2;
}
