/**
 * Astra Theme compatibility with Beaver Builder
 */
@import "../../grid/variables";
@import "../variables-site/structure";

.fl-builder-content {
	clear: both;	
}

.fl-theme-builder-archive {
	.fl-post-gallery-post.hentry,
	.fl-post-column > .hentry {
		margin: 0;
	}

	h2.fl-post-feed-title {
		clear: initial;
	}
}

// Full Width Support For Beaver Builder
.fl-builder.ast-page-builder-template .entry-header {
	margin-left: auto;
	margin-right: auto;
	padding-left:  ($grid-gutter-width / 2);
	padding-right: ($grid-gutter-width / 2);
}

// Fluid Width Support For Beaver Builder - Fluid Layout
.ast-fluid-width-layout .fl-row-fixed-width  .fl-row-fixed-width {
	padding-left: 0;
	padding-right: 0;
}