/**
 * Astra Theme compatibility with Cornerstone Page Builder
 */
@import "../../grid/variables";
.ast-cornerstone-compatibility {

	// Full Width Support For Beaver Builder
	.entry-header {
		margin-left: auto;
		margin-right: auto;
		padding-left:  ($grid-gutter-width / 2);
		padding-right: ($grid-gutter-width / 2);
	}

	&.ast-box-layout,
	&.ast-padded-layout {
		.entry-header {
			padding-left:  ($grid-gutter-width);
			padding-right: ($grid-gutter-width);
		}
	}
}