/**
 * Astra Theme compatibility with WooCommerce
 */
@import "../mixins/mixins-master";
@import "../../grid/variables";
@import "../variables-site/structure";
@import "../variables-site/colors";

.woocommerce {
	
	div.product {

		// Tabs.
		.woocommerce-tabs{

			ul.tabs{
				
				li::after,
				&.tabs::before {
				    display: none;
				    border: 0;
				}
			}
		}
	}
}















/**
 * Widgets Style
 */

#secondary {
	.widget_layered_nav_filters > li,
	.widget.woocommerce > li {
		margin-bottom: 0;
	}
	
	.widget {

		.select2-container .select2-selection--multiple .select2-selection__rendered {
			display: block;
			min-height: 42px;
		}
		.select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
			margin-top: 5px;
			margin-bottom: 5px;
		}

		.select2-search__field {
			min-height: 42px;
			margin: 0;
		}
	}
}
.woocommerce {
	
	#secondary {
		.woocommerce ul.cart_list,
		.woocommerce ul.product_list_widget {
			margin: 0;
		}
	}

	.woocommerce ul.cart_list,
	.woocommerce ul.product_list_widget {
		li a {
			font-weight: normal;
		}
	}

	.widget_shopping_cart,
	ul.product_list_widget {
		.cart_list li,
		li {
			padding: .6em 0 .6em 5em;
			min-height: 5em;
			position: relative;
			border-bottom: 1px solid #e2e2e2;
			margin: 0;
			line-height: 1.5;

			&:last-child,
			&:last-child {
				border-bottom: none;
			}
		}
	}

	.widget_shopping_cart .woocommerce-mini-cart__buttons {
		a {
			display: inline-block;
			width: calc( 50% - 5px );
			margin-right: 5px;
			text-align: center;
		}

		.checkout.wc-forward {
			margin-left: 5px;
			margin-right: 0;
		}
	}

	.widget_shopping_cart .total,
	&.widget_shopping_cart .total {
		padding: 5px 0;
		border-top: 1px solid #e2e2e2;
		border-bottom: 1px solid #e2e2e2;
		margin-bottom: 1.3em;
	}

	ul.product_list_widget {

		li {
			img {
				position: absolute;
				left: 0;
				width: 4em;
				margin: 0 0 .5em 0;
				top: 50%;
    			transform: translateY(-50%);
			}
		}
	}
	
	ul.product-categories {

		> li {
	    	padding: 2px 0px;

	    	ul {
		    	li:before {
					content: "\e900";
				    padding: 0 5px 0 5px;
				    display: inline-block;
				    font-family: Astra;
				    transform: rotate(-90deg);
				    font-size: 11px;
				    font-size: 0.7rem;
				}
	    	}

	    }

		> li:first-child {
			border:none;
		}
	}

	.widget {
		del {
			opacity: .5;
		}
		
		ins {
			background: inherit;
		}

		.amount,
		ins {
			font-weight: 700;
		}

		.star-rating {
		    margin: 5px 0;
		}
	}
	.widget_rating_filter{
		ul{
			li{
				a{
					display: inline-flex;
					align-items: center;
				}
			}
		}
	}
	

	.price_slider_amount {
		.price_label span {
			font-weight: 700;
		}
	}
	.widget_price_filter {
		.ui-slider-horizontal {
			height: .2em;
		}
		.ui-slider .ui-slider-handle {
			top: -.4em;
			cursor: pointer;
		}
		.price_slider_amount .button {
      		font-size: .9em !important;
    		padding: 8px 18px;
		}
		.price_slider {
			margin-bottom: 1.2em;
		}
		.price_slider_wrapper .ui-widget-content {
		    background-color: #ededed;
		}
	}

	.widget_product_tag_cloud {
		.tagcloud a {
			border: 1px solid #e2e2e2;
			padding: 0.5em 0.9em;
			display: inline-block;
			margin-bottom: 4px;
			margin-right: 4px;
			line-height: 1.5;
		    padding: .5em 1.2em;
		    font-size: 12px !important;
		    font-size: 0.8rem !important;
			
			a:hover,
			a:focus,
			a.current-item {
			    background-color: #fafafa;
			}
		}
		
	}
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li {

	padding: .5em 0 .5em 5em;
	a.remove {
		left: auto;
		right: 0;
		top: .5em;
		font-weight: normal;
		color: #ccc !important;
		font-size: 18px;
		width: 24px;
		height: 24px;
		line-height: 21px;
		border: 1px solid #ccc;
	}
}

.woocommerce-product-search {
	display: flex;

	.search-field {
		flex: auto;
		width: 100%;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	input[type="submit"] {
		padding: 10px 15px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.widget_layered_nav_filters ul li.chosen {
	padding: 0 .5em;
	margin-right: .5em;
	background: rgba(245, 245, 245, .75);
	border-radius: 20px;
	font-size: .8em;

	&:hover {
		background-color:rgba(245, 245, 245, 1)
	}
	a {
		display: block;

		&::before {
			margin-right: .5em;
			color: #ff1111;
		}
	}
}





