/**
 * Astra Theme compatibility with WooCommerce
 */
@import "../mixins/mixins-master";
@import "../../grid/variables";
@import "../variables-site/structure";
@import "../variables-site/colors";

.woocommerce {

 	h2 {
     	margin-bottom: 0.7em;
	}

	.quantity {
		input[type="text"],
		input[type="number"],
		input[type="email"] {
	  	  padding: 0.3em;
		}

		input[type="text"]:focus,
		input[type="number"]:focus,
		input[type="email"]:focus {
	  	  outline:none;
	  	  box-shadow: none;
	  	  border-color:$color-border-input;
		}
	}

	.woocommerce-ordering select {
		padding: .5em;
	}

	.product {
		#respond input#submit {
			padding: 0.5em 0.75em;
		}
	}

	div.product {

		.woocommerce-product-rating {
		    margin: 0 0 0.5em 0;
		}

		form.cart {
			display: flex;
			align-items: center;
		}
		
		// Tabs.
		.woocommerce-tabs{

			margin-bottom: 2em;
		
			ul.tabs{
				
				margin: 0 0 1em;
				padding: 0;
				border-top: 1px solid rgba(0,0,0,.05);
				
				li {
					border: 0;
					display: inline-block;
					border-radius: 0;
					margin: 0;
					padding: 0;
					background: none;
				    
				    a {
						padding: .5em 0;
						margin-right: 1em;
				    }
					
					&.active {
						a {
							outline: none;
						}
					}

					&.active::before,
					&.active::after,
					&::after,
					&::before {
					    border: none;
					    box-shadow: none;
					}
				}

				li::after,
				li::before,
				&.tabs::before {
				    display: none;
				    border: 0;
				}
			}
		}
	}

	.show-on-hover {
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    right: 0;
	    bottom: 0;
	    padding: 0;
	    margin: 0;

	    opacity: 0;
	    filter: blur(0);
	    @include ast-transition();
	}
	li.product:hover .show-on-hover {
	    opacity: 1;
	    transform: scale(1) translateZ(0) translateY(0);
	    pointer-events: inherit;
	}

	.products {
		.star-rating {
			margin: .5em auto 0;
		}
	}

	.woocommerce-result-count {
		margin-top: .5em;
	}

	nav.woocommerce-pagination {
		ul {
			li {
				a,
				span {
					padding: .75em;
					width: 2.5em;
					height: 2.5em;
				}
			}
		}
	}

	span.onsale {
		width: 3.236em;
		height: 3.236em;
		line-height: 3;
	}

	/**
	 * Loading on add to cart button
	 */
	#respond input#submit,
	a.button,
	button.button,
	input.button{
		&.loading{
			&::after{
				top: auto;
			}
		}
	}

	a.added_to_cart{
		padding: 0.5em;
	}

	/**
	 * Single Product
	 */
	&.single-product {
		div.product {
			
			.woocommerce-breadcrumb {
			    padding: 0 0 1em 0;
				border-bottom: 1px solid #ebebeb;
			}

			.product_title {
			    margin: 0 0 0.5em 0;
			}
			
			/*.woocommerce-product-rating,
			.woocommerce-product-details__short-description,
			form.cart,
			.product_meta {
			}*/

			p.price {
			    margin: 0 0 0.5em 0;
			    font-size: 2rem;
			    font-weight: normal;

			    ins {
				    font-weight: normal;
				}

				del {
				    font-size: 1.5rem;
				}
			}
		}

		.product_meta span {
			display: block;
			border-top: 1px dotted rgba(0,0,0,.1);
			padding: 5px 0;
		}
		
		.woocommerce-tabs,
		.related.products {
		    display: inline-block;
		}
		
		.related.products {
		    margin-top: 1em;
		}
	}
}

.up-sells,
.related.products,
.woocommerce-tabs {
	h2 {
		font-size: 1.5rem;
	}
}

.woocommerce-tabs {
	width: 100%;
}

.woocommerce,
.woocommerce-page {
	ul.products {
		li.product {
			text-align: center;

			.onsale {
			}

			.price {
				line-height: 1.3;
				margin-bottom: 0;

				del {
					display: initial;
				}
			}

			.button {
				margin: .75em auto;
				white-space: normal;
    			line-height: 1.3;
				&.added{
					margin-bottom:0;
					transition: margin 0s;
				}
			}

			.woocommerce-loop-category__title {
				text-transform: uppercase;
				font-weight: bold;
				line-height: 1.5;

				.count {
					display: block;
					background: none;
					opacity: .5;
					font-size: .75em;
				}
			}
		}
		li.last {
			margin-right: 0;
		}
	}
	.related.products {
		li.product:last-child {
			margin-right: 0;
		}
	}
	
}

/* Single Product Gallery */
.woocommerce {
	div.product .woocommerce-product-gallery {
		.woocommerce-product-gallery__trigger {
			backface-visibility: hidden;
		}

		.flex-viewport {
			transform-style: preserve-3d;
			margin-bottom: 1em;
		}

		&.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
			
			width: calc( 25% - 0.75em );
    		margin-right: 1em;
    		margin-bottom: 1em;

			&:nth-child(4n) {
				margin-right: 0;
			}
		}
	}

	.quantity .qty {
		min-height: 35px;

		/*&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
		    display: none
		}*/
	}

}

// Shop Page Tab Style

.woocommerce-tabs {
	.shop_attributes td {
   		padding: 0.5em;
   	}
}

//Seperate container layout
.ast-separate-container{
	.ast-woocommerce-container{
		background-color: $color-background-content;

		@media (max-width: $mx-col-xl) {
			    padding: 3.34em 2.4em;
		}
		@media (max-width: $mx-col-lg) {
			    padding: 1.5em 2.14em;
		}
		@media (max-width: $mx-col-sm) {
				padding: .54em 1em 1.33333em;
		}

		@media (min-width: $col-xl) {
			    padding: 5.34em 6.67em;
		}
		.product {
		    border-bottom: 0;
		}
	}
	&.single-product {
		.ast-article-single{
			margin:0;
			padding:0;
		}
	}
}

/**
 * Cart Page Styles
 */
.woocommerce-cart-form__cart-item {
	td.product-remove {
		text-align: center;

		a.remove {
			display: inline-block;
			vertical-align: middle;
			font-size: 1.25em;
			height: 1.25em;
			width: 1.25em;
			border: 1px solid transparent;
		}
	}
}

.woocommerce,
.woocommerce-page {

	@media (min-width: $col-md) {
	
		#content .ast-woocommerce-container div.product div.images,
		.ast-woocommerce-container div.product div.images {
		    width: 50%;
		}

		#content .ast-woocommerce-container div.product div.summary,
		.ast-woocommerce-container div.product div.summary {
			width: 46%;
		}
	}

	#content table.cart td.actions .input-text,
	table.cart td.actions .input-text {
		width: auto;
	}
}

.woocommerce-Address h3,
.woocommerce-checkout h3,
.cart-collaterals h2 {
	font-size: 1.5rem;
}
.woocommerce-cart {

	.hentry,
	ul.products {
		margin-bottom: 0;

		li.product {
			margin-bottom: 0;
		}
	}
	table.cart td.actions {
		.coupon {
			display: flex;
			align-items: center;
			.input-text {
				padding: .5em .75em;
			}
		}
		.button {
			padding: .5em 1em;
			line-height: 1.5;
		}
	}
}

.woocommerce table.shop_table,
#customer_details {
	margin-bottom: 2em;
}

#order_review_heading {
	margin-bottom: .5em;
}

/**
 * Checkout Page
 */
.woocommerce {

	form.checkout_coupon {
		margin: 0;
		border: 0;
		padding: 0 0 2em;

		@media ( min-width: $col-md ) {
			width: 50%;
		}

		.form-row {
			margin: 0;
			padding: 0;
			float: none;
			display: inline-block;
		}

		.button {
			padding: .5em 1em;
			vertical-align: initial;
			line-height: 1.35;
		}
	}
}

.checkout_coupon .input-text {
    padding: .5em .75em;
}

/**
 * My Account Style
 */
.woocommerce-MyAccount-navigation-link {

	list-style: none;
	border: 1px solid rgba(0,0,0,.1);
	border-bottom-width: 0;
	border-left: none;

	a {
		display: block;
		padding: .5em 1em .5em 0;
	}

	&:first-child {
	    border-top: none;
	}
}

.woocommerce-MyAccount-navigation > ul {
    margin: 0;
}

.woocommerce-account {
	.woocommerce-EditAccountForm {
		.woocommerce-Button {
			margin-top: 1em;
		}
	}
}

/**
 * Widgets Style
 */

#secondary {
	.widget_layered_nav_filters li,
	.widget.woocommerce li {
		margin-bottom: 0;
	}
}
.woocommerce {
	.widget_shopping_cart,
	ul.product_list_widget {
		.cart_list li,
		li {
			padding: .5em 0 .5em 5em;
			min-height: 5em;
			position: relative;
			border-bottom: 1px solid #e2e2e2;
			margin: 0;
			line-height: 1.5;

			&:last-child,
			&:last-child {
				border-bottom: none;
			}
		}
	}

	.widget_shopping_cart .total,
	&.widget_shopping_cart .total {
		padding: 2px 0;
		border-top: 1px solid #e2e2e2;
		border-bottom: 1px solid #e2e2e2;
	}

	ul.product_list_widget {

		li {
			img {
				position: absolute;
				left: 0;
				width: 4em;
				margin: 0 0 .5em 0;
			}
		}
	}

	del {
		opacity: .5;
	}
	ins {
		background: inherit;
		font-weight: 700;
	}

	.price_slider_amount {
		.price_label span {
			font-weight: 700;
		}
	}
	.widget_price_filter .price_slider_wrapper .ui-widget-content {
	    background-color: #ededed;
	}

	.widget_product_tag_cloud {
		.tagcloud a {
			border: 1px solid #e2e2e2;
			padding: 0.5em 0.9em;
			display: inline-block;
			margin-bottom: 4px;
			margin-right: 4px;
			line-height: 1.5;
		}
	}
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li {

	padding: .5em 0 .5em 5em;
	a.remove {
		left: auto;
		right: 0;
		top: .5em;
		line-height: .75em;
		font-weight: normal;
		border: 1px solid transparent;
	}
}

.woocommerce-product-search {
	display: flex;

	.search-field {
		flex: auto;
		width: 100%;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	input[type="submit"] {
		padding: 10px 15px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.widget_layered_nav_filters ul li.chosen {
	padding: 0 .5em;
	margin-right: .5em;
	background: rgba(245, 245, 245, .75);
	border-radius: 20px;
	font-size: .8em;

	&:hover {
		background-color:rgba(245, 245, 245, 1)
	}
	a {
		display: block;

		&::before {
			margin-right: .5em;
			color: #ff1111;
		}
	}
}

/**
 * Input Form elements
 */
.select2-container .select2-selection--single {
	height: auto;
	padding: 0.75em;

	.select2-selection__rendered {
		padding-left: 0;
	}
}

.select2-container--default .select2-selection--single {
	.select2-selection__rendered {
		line-height: 1.35;
	}
	.select2-selection__arrow {
		top: 50%;
		width: 1.7em;
		transform: translateY(-50%);
	}
}
.select2-search--dropdown .select2-search__field,
.select2-results__option {
	padding: 6px 0.75em;
}

/**
 * Header cart icon
 */
.astra-cart-icon:before {
	content: "\e854";
    font-family: "Astra";
    font-weight: normal;
    font-style: normal;
}

.astra-menu-cart-item .amount {
    padding-left: 0.5em;
}
