/**
 * Astra Theme compatibility with WooCommerce
 */
@import "../../grid/variables";
@import "../variables-site/structure";
@import "../variables-site/colors";

.woocommerce {
 	
 	h2 {
     	margin-bottom: 0.7em;
	}

	.quantity {
		input[type="text"], 
		input[type="number"], 
		input[type="email"] {
	  	  padding: 0.3em;
		}

		input[type="text"]:focus, 
		input[type="number"]:focus, 
		input[type="email"]:focus {
	  	  outline:none;
	  	  box-shadow: none;
	  	  border-color:$color-border-input;
		}
	}

	.woocommerce-ordering select {
		padding: .5em;
	}

	.product {
		#respond input#submit, 
		a.button, 
		button.button, 
		input.button {
			padding: 0.5em 0.75em;
		}
	}

	.products {
		.star-rating {
			position: absolute;
			top: 1em;
			left: 1em;
		}
	}
	
	.woocommerce-result-count {
		margin-top: .5em;
	}

	nav.woocommerce-pagination {
		ul {
			border: none;
			li {
				border-width: 1px;
				border-style: solid;
				margin: 0 .4em;

				a,
				span {
					padding: .75em;
					width: 2.5em;
					height: 2.5em;
				}
			}
		}
	}
	span.onsale {
		width: 3.236em;
		height: 3.236em;
		line-height: 3;
	}

	div.product .woocommerce-tabs {
		ul.tabs {
			margin-bottom: 0;
		}

		.panel {
			padding: 1.618em;
			border: 1px solid #ebe9eb;
			border-top: 0;
		}
	}
}

.related.products,
.woocommerce-tabs {
	h2 {
		font-size: 1.5rem;
	}
}

.woocommerce,
.woocommerce-page {
	ul.products {
		li.product {
			text-align: center;
			
			.onsale {
			}

			.price {
				line-height: 1.3;
				margin-bottom: 0;

				del {
					display: initial;
				}
			}

			.button {
				margin: .75em auto;
			}
		}
		li.last {
			margin-right: 0;
		}
	}
	.related.products {
		li.product:last-child {
			margin-right: 0;
		}
	}
}

.woocommerce-product-gallery__wrapper {
	.woocommerce-product-gallery__image:first-child {
		margin-bottom: 1em;
	}
}

// Shop Page Tab Style 

.woocommerce-tabs {
	.shop_attributes td {
   		padding: 0.5em;
   	}
}

//Seperate container layout
.ast-separate-container{
	@media (min-width: $col-md) {
		&.archive{
			.ast-woocommerce-container{
				margin-bottom: 4em;
			}
		}
	}
	.ast-woocommerce-container{
		background-color: $color-background-content;
		@media (max-width: $mx-col-xl) {
			    padding: 3.34em 2.4em;
		}
		@media (max-width: $mx-col-lg) {
			    padding: 1.5em 2.14em;
		}
		@media (max-width: $mx-col-sm) {
				padding: .54em 1em 1.33333em;
		}

		@media (min-width: $col-xl) {
			    padding: 5.34em 6.67em;
		}
		.product {
		    border-bottom: 0;
		}
	}
	&.single-product {
		.ast-article-single{
			margin:0;
			padding:0;
		}
	}
}

/**
 * Cart Page Styles
 */
.woocommerce-cart-form__cart-item {
	td.product-remove {
		text-align: center;

		a.remove {
			display: inline-block;
			vertical-align: middle;
			font-size: 1.25em;
			height: 1.25em;
			width: 1.25em;
			border-radius: 0;
			border: 1px solid;
		}

		a.remove:hover {
			border-color: red;
		}
	}
}

.woocommerce {
	input.button {
		border: 1px solid;
	}
}
.cart-collaterals {
	h2 {
		font-size: 1.5rem;
	}
}
.woocommerce-cart {
	
	.hentry,
	ul.products {
		margin-bottom: 0;

		li.product {
			margin-bottom: 0;
		}
	}
}