/**
 * Astra Theme compatibility with WooCommerce
 */
@import "../mixins/mixins-master";
@import "../../grid/variables";
@import "../variables-site/structure";
@import "../variables-site/colors";

.woocommerce {

 	h2 {
     	margin-bottom: 0.7em;
	}

	.quantity {
		input[type="text"],
		input[type="number"],
		input[type="email"] {
	  	  padding: 0.3em;
		}

		input[type="text"]:focus,
		input[type="number"]:focus,
		input[type="email"]:focus {
	  	  outline:none;
	  	  box-shadow: none;
	  	  border-color:$color-border-input;
		}
	}

	.woocommerce-ordering {
		margin-bottom: 2.5em;
		
		select {
			padding: .5em;
		}
	}

	.product {
		#respond input#submit {
			padding: 0.5em 0.75em;
		}
	}

	div.product {

		.woocommerce-product-rating {
		    margin: 0 0 0.5em 0;
		}

		form.cart {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin: 0 0 1.2em;
			table{
				margin: 0 0 1.2em;
			}
			.variations{
				td.label{
					vertical-align: middle;
				}
			}
			.variations_button{
				align-items: center;
				display: flex;
				flex-wrap: wrap;
			}

			.group_table { 
				td{
					vertical-align: middle;
				}
				td.label {
					padding: 0.5em;
					font-size: .8rem;
					line-height: 1.3;
				}
				td.price {
					padding-left: 0.8em;
					font-weight: bold;
					font-size: 0.9rem;
					del{
						opacity: .5;
					}
				}
			}
			p.stock {
				line-height: 1.3;
				margin-bottom: 0.8em;
				font-size: .9em;
			}
			.single_variation_wrap{
				p {
					margin-bottom: 0.8em;
				}
			}
		}
		
		// Tabs.
		.woocommerce-tabs{

			margin-bottom: 2em;
		
			ul.tabs{
				
				margin: 0 0 1em;
				padding: 0;
				border-top: 1px solid rgba(0,0,0,.05);
				
				li {
					border: 0;
					display: inline-block;
					border-radius: 0;
					margin: 0;
					padding: 0;
					background: none;
					margin-right: 1em;
				    
				    a {
						padding: .5em 0;
				    }
					
					&.active {
						a {
							outline: none;
						}
					}

					&.active::before {
					    content: ' ';
    					position: absolute;
    					width: 100%;
    					height: 3px;
    					box-shadow: none;
    					top: 0;
    					left: 0;
						border-radius: 0;
					}

					&.active::after,
					&::after,
					&::before {
					    border: none;
					    box-shadow: none;
					}
				}

				li::before {

				}

				li::after,
				&.tabs::before {
				    display: none;
				    border: 0;
				}
			}

			.woocommerce-Reviews {
				h2{
					font-weight: normal;
				}
				@media (min-width: $col-md) {
					#comments {
						width: 55%;
						float: left;
					}
					#review_form_wrapper {
						width: 45%;
						float: right;
						padding-left: 2em;
					}
				}
				
				#review_form {
					border: 2px solid #efefef;
					padding: 1em 1.9em 2.3em;

					#respond{
						p{
							margin: 2px 0 6px;
						}
						#comment {
							height: 90px;
						}
					}
	    		}
			}
		}

		/* No Review for single product */
		&.ast-woo-product-no-review{
			.woocommerce-Reviews {
				#comments {
					width: 100%;
				}
				#review_form_wrapper {
					width: 100%;
					padding-left: 0;
				}
				#review_form {
					padding: 1.5em 2em;
				}
			}
		}

		/* Review tabs */
		#reviews {
			#comments{
				ol{
					&.commentlist{
						li{
							border-bottom: 1px solid #e2e2e2;
							margin: 0 0 1em;
							&:last-child{
								border-bottom: 0;
							}
							img.avatar {
							    border-radius: 100%;
							    border: none;
							    background: none;
								height: 3.6em;
								width: 3.6em;
							}
							.comment-text{
								display: flex;
								flex-wrap: wrap;
								padding: 0 1.5em;
								border: none;
								.star-rating{
									order: 2;
									margin-bottom: .5em;
								}
								.meta{
									order: 1;
									width: 100%;
									font-size: 1em;
									margin-bottom: .2em;
								}
								.description{
									font-style: italic;
									order: 3;
									width: 100%;
								}
								p {
									margin: 0 0 1.7em;
								}
							}
						}
					}
				}
			}
		}
	}

	.show-on-hover {
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    right: 0;
	    bottom: 0;
	    padding: 0;
	    margin: 0;

	    opacity: 0;
	    filter: blur(0);
	    @include ast-transition();
	}
	li.product:hover .show-on-hover {
	    opacity: 1;
	    transform: scale(1) translateZ(0) translateY(0);
	    pointer-events: inherit;
	}

	.products {
		.star-rating {
			margin: .5em auto 0;
		}
	}

	.woocommerce-result-count {
		margin-top: 0;
	}

	nav.woocommerce-pagination {
		text-align: left;
		
		ul {
			text-align: center;
			
			li {
				a,
				span {
					padding: .75em;
					width: 2.5em;
					height: 2.5em;
				}
			}
		}
	}

	span.onsale {
		min-width: 3em;
		min-height: 3em;
		line-height: 3em;
		padding: 0;
		font-size: 1em;
		font-weight: normal;
	}

	/**
	 * Loading on add to cart button
	 */
	#respond input#submit,
	a.button,
	button.button,
	input.button{
		&.loading{
			&::after{
				top: auto;
			}
		}
	}

	a.added_to_cart{
		padding: .4em 0 0;
	}

	/**
	 * Single Product
	 */
	&.single-product {
		div.product {
			
			p.stock {
				font-size: 1em;
				.ast-stock-avail{
					font-weight: 700;
				}
			}

			.product_title {
			    margin: 0 0 0.5em 0;
			}
			
			/*.woocommerce-product-rating,
			.woocommerce-product-details__short-description,
			form.cart,
			.product_meta {
			}*/

			p.price {
			    margin: 0 0 0.2em;
			    font-size: 1.5rem;
			    font-weight: 700;

			    ins {
				}

				del {
				    font-size: 1.5rem;
				}
			}
		}

		.product_meta {

			border-top: 1px solid #ebebeb;
    		padding-top: 1em;
    		font-size: .9em;

			> span {
				display: block;
			}
		}
		
		span.onsale {
			min-height: 3.5em;
    		min-width: 3.5em;
			line-height: 3.5em;
		}

		.woocommerce-tabs,
		.related.products {
		    display: inline-block;
		}
		
		.related.products {
		    margin-top: 1em;
		}
	}

	.ast-return-to-shop {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
}

.up-sells,
.related.products,
.woocommerce-tabs {
	h2 {
		font-size: 1.5rem;
	}
}

.comment-reply-title {
		font-size: 1.5rem;
		line-height: 1.3;
}

.woocommerce-tabs {
	width: 100%;
}

.woocommerce,
.woocommerce-page {
	ul.products {
		li.product {
			text-align: left;
			margin-bottom: 2.9em;

			a{
				img{
					margin-bottom:.8em;
				}
			}
			.woocommerce-loop-product__title{
				margin-bottom:.5em;
				padding: 0;
				font-size: 0.9em;
			}
			.ast-woo-product-category {
				font-size: .85em;
				margin-bottom: .5em;
				display: block;
				line-height: 1.3;
				opacity: .6;
			}
			.star-rating {
				margin: 0 auto .5em 0;
				backface-visibility: hidden;
			}

			.ast-woo-shop-product-description{
				p{
					margin-bottom: .5em;
				}
			}
			.woocommerce-loop-product__link {
				position: relative;
				display: block;
				&:hover{
					.ast-shop-product-out-of-stock{
						background-color: rgba(255, 255, 255, 1);
					}
				}
			}
			&.product-category > a:hover{
				.woocommerce-loop-category__title{
					background-color: rgba(255, 255, 255, 1);
				}
			}

			.woocommerce-loop-category__title,
			.ast-shop-product-out-of-stock {
				position: absolute;
				background-color: rgba(255, 255, 255, 0.88);
				transition: background .3s;
				text-align: center;
				left: 1em;
				right: 1em;
				padding: 0.5em 0em 0.7em;
			}
			.woocommerce-loop-category__title{
				bottom: 1.8em;
				font-size: 0.9em;
				.count{
					font-size: .7em;
				}
			}
			.ast-shop-product-out-of-stock {
				bottom: 1em;
				text-transform: uppercase;
				font-weight: bold;
			}

			.onsale {
			}

			.price {
				line-height: 1.3;
				margin-bottom: 0;
				font-weight: 700;
				margin-bottom:.5em;
				font-size: .9em;
				del {
					display: initial;
				}
			}

			.button {
				margin-top: .5em;
				margin-bottom: .5em;
				white-space: normal;
    			line-height: 1.3;
				&.added{
					margin-bottom:0;
					transition: margin 0s;
				}
			}

			.woocommerce-loop-category__title {
				text-transform: uppercase;
				font-weight: bold;
				line-height: 1.5;

				.count {
					display: block;
					background: none;
					opacity: .5;
					font-size: .75em;
				}
			}
		}
		li.last {
			margin-right: 0;
		}
	}
	.related.products {
		li.product:last-child {
			margin-right: 0;
		}
	}
	
	.pswp__caption__center {
		text-align: center;
	}
}

/* Single Product Gallery */
.woocommerce {
	div.product .woocommerce-product-gallery {
		.woocommerce-product-gallery__trigger {
			backface-visibility: hidden;
		}

		.flex-viewport {
			transform-style: preserve-3d;
			margin-bottom: 1em;
		}

		&.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
			
			width: calc( 25% - 0.75em );
    		margin-right: 1em;
    		margin-bottom: 1em;

			&:nth-child(4n) {
				margin-right: 0;
			}
		}
	}

	.quantity .qty {
		min-height: 35px;

		/*&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
		    display: none
		}*/
	}

	// Shop Page Tab Style

	.woocommerce-tabs {
		.shop_attributes{
			border-style: solid;
			p {
				padding: 0;
			}
			th {
				border-left-width: 1px;
				border-style: solid;
				padding-left: .9em;
			}
			td {
				padding: .5em .5em .5em .9em;
				font-style: normal;
				border-style: solid;
			}
		}
	}

	/* Popup for single product */ 
	.pswp__bg{
		opacity: .7 !important;
	}
	.pswp__ui--fit .pswp__top-bar,
	.pswp__ui--fit .pswp__caption{
		background-color: transparent;
	}
}


//Seperate container layout
.ast-separate-container{
	.ast-woocommerce-container{
		background-color: $color-background-content;

		@media (max-width: $mx-col-xl) {
			    padding: 3.34em 2.4em;
		}
		@media (max-width: $mx-col-lg) {
			    padding: 1.5em 2.14em;
		}
		@media (max-width: $mx-col-sm) {
				padding: .54em 1em 1.33333em;
		}

		@media (min-width: $col-xl) {
			    padding: 5.34em 6.67em;
		}
		.product {
		    border-bottom: 0;
		}
	}
	&.single-product {
		.ast-article-single{
			margin:0;
			padding:0;
		}
	}
}

/**
 * Cart Page Styles
 */
.woocommerce-cart-form__cart-item {
	td.product-remove {
		text-align: center;

		a.remove {
			display: inline-block;
			vertical-align: middle;
			font-size: 1.3em;
			height: 1.2em;
			width: 1.2em;
			color: #ccc !important;
			line-height: .9;
			text-align: center;
			border: 2px solid #ccc;
		}
	}
}

.woocommerce,
.woocommerce-page {

	@media (min-width: $col-md) {
	
		#content .ast-woocommerce-container div.product div.images,
		.ast-woocommerce-container div.product div.images {
		    width: 50%;
		}

		#content .ast-woocommerce-container div.product div.summary,
		.ast-woocommerce-container div.product div.summary {
			width: 46%;
		}
	}

	#content table.cart td.actions .input-text,
	table.cart td.actions .input-text {
		width: auto;
	}
}

.woocommerce-Address h3,
.woocommerce-checkout h3,
.cart-collaterals h2 {
	font-size: 1.2rem;
	padding: .7em 1em;
}

/**
 * Cart Page
 */
.woocommerce-cart {
	
		table.shop_table{
		    border: 1px solid #ebebeb;
		    border-radius: 0px;
			.product-thumbnail{
				img{
					width: auto;
    				max-width: 70px;
				}
			}
			thead{
				background-color: #fbfbfb;

				th {
					border: 0;
				}
			}
			td,th{
				border-right: 0;
				border-bottom: 0;
				padding: .7em 1em;
			}
			td{
				border-top: 1px solid #ebebeb;
			}
			.woocommerce-Price-amount{
				font-weight: 700;
			}
		}

		.cart-collaterals{
			.cross-sells{
				li.product{
					padding-bottom: 1em;
				}
			}
			.cart_totals,
			.cross-sells{
				padding: 0 20px;
			    border-width: 1px;
			    border-style: solid;
			    border-color: #ebebeb;
			    border-radius: 0;
			    margin-bottom: 2em;
				.shop_table{
				    border-top: 0;
				    border-left: 0;
				    border-right: 0;
				    border-radius: 0;
				}

				> h2{
	    			margin: 0 -20px 20px;
	    			background-color: #fbfbfb;
    				border-bottom: 1px solid #ebebeb;
				}
			}
		}
	.hentry,
	ul.products {
		margin-bottom: 0;

		li.product {
			margin-bottom: 0;
		}
	}
	table.cart td.actions {
		.coupon {
			display: flex;
			align-items: center;
			.input-text {
				padding: .5em .75em;
			}
		}
		.button {
			padding: .5em 1em;
			line-height: 1.5;
		}
	}

	/* Proceed to check out button */
	.wc-proceed-to-checkout{
		a.checkout-button{
			font-size: 1.1em;
			line-height: 1.8em;
		}
	}
}

.woocommerce table.shop_table,
#customer_details {
	margin-bottom: 2em;
}

#order_review_heading {
	margin-bottom: .5em;
}

/**
 * Checkout Page
 */
.woocommerce {
	
	form {
		.form-row .required {
			text-decoration: none;
		}
		
		&.checkout_coupon {
			margin: 0;
			border: 0;
			padding: 0 0 2em;

			@media ( min-width: $col-md ) {
				width: 50%;
			}

			.form-row {
				margin: 0;
				padding: 0;
				float: none;
				display: inline-block;
			}

			.button {
				padding: .5em 1em;
				vertical-align: initial;
				line-height: 1.35;
			}
		}
	}
}

.checkout_coupon .input-text {
    padding: .5em .75em;
}

/**
 * My Account Style
 */
.woocommerce-MyAccount-navigation-link {

	list-style: none;
	border: 1px solid rgba(0,0,0,.1);
	border-bottom-width: 0;
	border-left: none;

	a {
		display: block;
		padding: .5em 1em .5em 0;
	}

	&:first-child {
	    border-top: none;
	}
}

.woocommerce-MyAccount-navigation > ul {
    margin: 0;
}

.woocommerce-account {
	.woocommerce-EditAccountForm {
		.woocommerce-Button {
			margin-top: 1em;
		}
	}
}

/**
 * Widgets Style
 */

#secondary {
	.widget_layered_nav_filters > li,
	.widget.woocommerce > li {
		margin-bottom: 0;
	}
	
	.widget {

		.select2-container .select2-selection--multiple .select2-selection__rendered {
			display: block;
			min-height: 42px;
		}
		.select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
			margin-top: 5px;
			margin-bottom: 5px;
		}

		.select2-search__field {
			min-height: 42px;
			margin: 0;
		}
	}
}
.woocommerce {
	
	#secondary {
		.woocommerce ul.cart_list,
		.woocommerce ul.product_list_widget {
			margin: 0;
		}
	}

	.woocommerce ul.cart_list,
	.woocommerce ul.product_list_widget {
		li a {
			font-weight: normal;
		}
	}

	.widget_shopping_cart,
	ul.product_list_widget {
		.cart_list li,
		li {
			padding: .6em 0 .6em 5em;
			min-height: 5em;
			position: relative;
			border-bottom: 1px solid #e2e2e2;
			margin: 0;
			line-height: 1.5;

			&:last-child,
			&:last-child {
				border-bottom: none;
			}
		}
	}

	.widget_shopping_cart .woocommerce-mini-cart__buttons {
		a {
			display: inline-block;
			width: calc( 50% - 5px );
			margin-right: 5px;
			text-align: center;
		}

		.checkout.wc-forward {
			margin-left: 5px;
			margin-right: 0;
		}
	}

	.widget_shopping_cart .total,
	&.widget_shopping_cart .total {
		padding: 5px 0;
		border-top: 1px solid #e2e2e2;
		border-bottom: 1px solid #e2e2e2;
		margin-bottom: 1.3em;
	}

	ul.product_list_widget {

		li {
			img {
				position: absolute;
				left: 0;
				width: 4em;
				margin: 0 0 .5em 0;
				top: 50%;
    			transform: translateY(-50%);
			}
		}
	}
	
	ul.product-categories {

		> li {
	    	padding: 2px 0px;

	    	ul {
		    	li:before {
					content: "\e900";
				    padding: 0 5px 0 5px;
				    display: inline-block;
				    font-family: Astra;
				    transform: rotate(-90deg);
				    font-size: 11px;
				    font-size: 0.7rem;
				}
	    	}

	    }

		> li:first-child {
			border:none;
		}
	}

	.widget {
		del {
			opacity: .5;
		}
		
		ins {
			background: inherit;
		}

		.amount,
		ins {
			font-weight: 700;
		}

		.star-rating {
		    margin: 5px 0;
		}
	}
	.widget_rating_filter{
		ul{
			li{
				a{
					display: inline-flex;
					align-items: center;
				}
			}
		}
	}
	

	.price_slider_amount {
		.price_label span {
			font-weight: 700;
		}
	}
	.widget_price_filter {
		.ui-slider-horizontal {
			height: .2em;
		}
		.ui-slider .ui-slider-handle {
			top: -.4em;
			cursor: pointer;
		}
		.price_slider_amount .button {
      		font-size: .9em !important;
    		padding: 8px 18px;
		}
		.price_slider {
			margin-bottom: 1.2em;
		}
		.price_slider_wrapper .ui-widget-content {
		    background-color: #ededed;
		}
	}

	.widget_product_tag_cloud {
		.tagcloud a {
			border: 1px solid #e2e2e2;
			padding: 0.5em 0.9em;
			display: inline-block;
			margin-bottom: 4px;
			margin-right: 4px;
			line-height: 1.5;
		    padding: .5em 1.2em;
		    font-size: 12px !important;
		    font-size: 0.8rem !important;
			
			a:hover,
			a:focus,
			a.current-item {
			    background-color: #fafafa;
			}
		}
		
	}
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li {

	padding: .5em 0 .5em 5em;
	a.remove {
		left: auto;
		right: 0;
		top: .5em;
		font-weight: normal;
		font-size: 1.2em;
		height: 1.2em;
		width: 1.2em;
		color: #ccc !important;
		line-height: .8;
		border: 2px solid #ccc;
	}
}

.woocommerce-product-search {
	display: flex;

	.search-field {
		flex: auto;
		width: 100%;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	input[type="submit"] {
		padding: 10px 15px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.widget_layered_nav_filters ul li.chosen {
	padding: 0 .5em;
	margin-right: .5em;
	background: rgba(245, 245, 245, .75);
	border-radius: 20px;
	font-size: .8em;

	&:hover {
		background-color:rgba(245, 245, 245, 1)
	}
	a {
		display: block;

		&::before {
			margin-right: .5em;
			color: #ff1111;
		}
	}
}

/**
 * Input Form elements
 */
.woocommerce {
	
	.select2-container .select2-selection--single {
		height: auto;
		padding: 0.75em;

		.select2-selection__rendered {
			padding-left: 0;
		}
	}

	.select2-container--default .select2-selection--single {
		.select2-selection__rendered {
			line-height: 1.35;
		}
		.select2-selection__arrow {
			top: 50%;
			width: 1.7em;
			transform: translateY(-50%);
		}
	}
	.select2-search--dropdown .select2-search__field,
	.select2-results__option {
		padding: 6px 0.75em;
	}
}

/**
 * Header Cart Icon with shopping cart.
 */
.ast-woocommerce-cart-menu{
    .ast-site-header-cart {
   	/* Cart wrapper in header. */
    	position: relative;
    	list-style-type: none;
	    margin-left: 0;
	    padding-left: 1em;
	    margin-bottom: 0;
	    order: 1;

	    	&:focus,
	    	&:hover {
		        .widget_shopping_cart {
		            right: 0;
		    		left: auto;
		            opacity:1;
		        }
	    	}
			.ast-shopping-cart-icon{
				display: initial;
				vertical-align: middle;
				&:before{
					content: "\e854";
					font-family: 'Astra';
					font-size: 18px;
					font-size: 1.2857rem;
				}
			}

    	/* Cart container in header. */
        .widget_shopping_cart {
        	background-color: #fff;
            position: absolute;
            top: 100%;
            width: 280px;
            z-index: 999999;
            font-size: .875em;
            left: -999em;
            display: block;
            line-height: 1.618;
            box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.07);
            transition: all 0.3s ease;
            border: 2px solid #E6E6E6;
            opacity: 0;

            &:before {
			    content: '';
			    display: block;
			    top: -15px;
			    border: solid transparent;
			    content: " ";
			    height: 0;
			    width: 0;
			    position: absolute;
			    pointer-events: none;
			    border-color: rgba(136, 183, 213, 0);
			    border-bottom-color: #E6E6E6;
			    border-width: 7px 8px;
			    right: 5px;
	    	}

           .product_list_widget {
               padding: 1em 1.5em;
               max-height: 500px;
               max-height: 50vh;
               overflow-y: auto;
            	li{
					padding: .5em 0 .5em 5em;
    				border-bottom: 1px solid rgba(0,0,0,.05);

    				&:last-child{
    					border-bottom: 0;
    				}
    				img{
						max-width: 4em;
						margin: 0 0 .5em 0;
    				}
            	}
            }

			p.buttons, 
			p.total {
				padding: 1em 1.5em;
				margin: 0;
				text-align: center;
			}

			.buttons {
				.button{
					display: block;
				    margin-right: 0;
				    width: 100%;
				    margin-left: 0;
				}
			}

			.woocommerce-mini-cart__empty-message {
				margin: 1.41575em;
			}

			.cart_list{
				a.remove {
					display: block;
					font-size: 1.3em;
					height: 1.2em;
					width: 1.2em;
					color: #ccc !important;
					line-height: .8;
					text-align: center;
					border: 2px solid #ccc;
				}
			}
        }
    }

    	.ast-cart-menu-wrap {
    		display: inline-block;
    		line-height: 1;
    		.count {
				font-weight: bold;
				position: relative;
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				width: 2.1em;
				height: 2.1em;
				line-height: 1.8;
				font-size: 1em;
    			border-radius: 0em 0em 0.3em 0.3em;
				border-width: 2px;
				border-style: solid;

	    		&:after{
					bottom: 100%;
				    margin-bottom: 0;
				    height: .8em;
				    width: .8em;
				    left: 50%;
				    transform: translateX(-50%);
				    top: -.6em;
				    content: ' ';
				    position: absolute;
				    pointer-events: none;
				    border-width: 2px;
				    border-style: solid;
				    border-top-left-radius: 10em;
				    border-top-right-radius: 10em;
				    border-bottom: 0;
	    		}
			}
    	}

    	/** 
    	 * Header layout 1
    	 * if no primary menu & no custom menu items
    	 */
    	 .header-main-layout-1 {
    	 	&.ast-no-menu-items {
	    	 	.ast-site-header-cart {
	    	 		flex: 1;

	    	 		.ast-site-header-cart-li {
	    	 			text-align: right;
	    	 		}
	    	 	}
    	 	}
    	 }

    	 /** 
    	 * Header layout 3
    	 */
    	 .header-main-layout-3 {
			.ast-site-header-cart {
				/* Cart wrapper in header. */
				&:focus,
				&:hover {
					.widget_shopping_cart {
						right: auto;
						left: 0;
					}
				}
				.widget_shopping_cart {
					transition: left 0s;
					&:before {
						right: auto;
						left: 1.5em;
					}
				}
			}
			/* No primary menu & no custom menu items */
			&.ast-no-menu-items {
	    	 	.ast-site-header-cart {
	    	 		flex: 1;

	    	 		.ast-site-header-cart-li {
	    	 			text-align: left;
	    	 		}
	    	 	}
    	 	}
		}

 		/** 
    	 * Header layout 2
    	 */
		.header-main-layout-2 {
	    	.main-header-container{
	    		display: flex; 
				justify-content: center;
	    	}
	    	.site-branding{
	    		flex: 0 0 100%;
	    	}
	    }
}

/**
 * Header Cart Icon with shopping cart for responsive devices.
 */
.ast-header-break-point{
	&.ast-woocommerce-cart-menu{
		.ast-site-header-cart { 
			&:focus,
	    	&:hover {
		        .widget_shopping_cart {
		            display: none;
		        }
	    	}
	    }
	    .ast-site-header-cart{
	        order: initial;
			line-height: 3;
			padding: 0 1em 1em 0;
	    }

	    .header-main-layout-3 {
	    	.ast-site-header-cart{
	        	padding: 0 0 1em 1em;
	        }
	    }


    	 @media (max-width: $mx-col-sm) {
	     	.header-main-layout-1,
	     	.header-main-layout-3 {
	    	 	&.ast-mobile-header-stack{
	    	 		&.ast-no-menu-items {
	    	 			.ast-site-header-cart{
	    	 				padding-right: 0;
	    	 				padding-left: 0;
	    	 			}
	    	 		}
	    	 		.main-header-bar{
	    	 			text-align: center;
	    	 		}
	    	 		.ast-site-header-cart {
	    	 			display: inline-block;
	    	 		}
	    	 		.ast-mobile-menu-buttons {
	    	 			display: inline-block;
	    	 		}
    	 		}
			}
			.header-main-layout-2 {
				&.ast-mobile-header-inline{
					.site-branding{
						flex: auto;
					}
				}
			}
			.header-main-layout-3{
		 		&.ast-mobile-header-stack{
		 			.site-branding {
		 				flex: 0 0 100%;
		 			}
		 			.main-header-container {
		 			    display: flex; 
						justify-content: center;
					}
		 		}
			}
    	}
	}
}
