/* Variables */
html {
  font-size: 93.75%;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor {
  /*----------  Font Size  ----------*/
  /*----------  Line Height  ----------*/
  /*----------  Site Basic Structure  ----------*/
  /*----------  z-index Structure   ----------*/
  /*----------  Media Query min-width Structure   ----------*/
  /*----------  Media Query max-width Structure   ----------*/
  /*----------  Break-point min-width Structure   ----------*/
  /*----------  Break-point max-width Structure   ----------*/
  /* must have higher specificity than alternative color schemes inline styles */
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor html {
  box-sizing: border-box;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor *,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor *:before,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor *:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor body {
  color: #808285;
  background: #ffffff;
  /* Fallback for when there is no custom background color defined. */
  font-style: normal;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor ul, .gutenberg-editor-page #wpwrap .edit-post-visual-editor ol {
  margin: 0 0 1.5em 3em;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor ul {
  list-style: disc;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor ol {
  list-style: decimal;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor li > ul,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor dt {
  font-weight: bold;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor dd {
  margin: 0 1.5em 1.5em;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor b, .gutenberg-editor-page #wpwrap .edit-post-visual-editor strong {
  font-weight: bold;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor dfn,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor cite,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor em,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor i {
  font-style: italic;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor blockquote,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor q {
  quotes: "" "";
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor blockquote:before, .gutenberg-editor-page #wpwrap .edit-post-visual-editor blockquote:after,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor q:before,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor q:after {
  content: "";
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor blockquote {
  border-left: 5px solid rgba(0, 0, 0, 0.05);
  padding: 20px;
  font-size: 1.2em;
  font-style: italic;
  margin: 0 0 1.5em;
  position: relative;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor blockquote p:last-child {
  margin: 0;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor address {
  margin: 0 0 1.5em;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor abbr,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  margin-bottom: 1.6em;
  overflow: auto;
  max-width: 100%;
  padding: 1.6em;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor code,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor kbd,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor tt,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .ast-button,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .button,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor button,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor input,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor select,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor textarea {
  color: #808285;
  font-weight: normal;
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor button,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor input {
  line-height: normal;
  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor big {
  font-size: 125%;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor mark,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor ins {
  background: transparent;
  text-decoration: none;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor ul, .gutenberg-editor-page #wpwrap .edit-post-visual-editor ol {
  margin: 0 0 1.5em 3em;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor ul {
  list-style: disc;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor ol {
  list-style: decimal;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor li > ul,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor dt {
  font-weight: bold;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor dd {
  margin: 0 1.5em 1.5em;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor table, .gutenberg-editor-page #wpwrap .edit-post-visual-editor th, .gutenberg-editor-page #wpwrap .edit-post-visual-editor td {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.5em;
  width: 100%;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor th {
  font-weight: bold;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor th, .gutenberg-editor-page #wpwrap .edit-post-visual-editor td {
  padding: 8px;
  text-align: left;
  border-width: 0 1px 1px 0;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor ::selection {
  color: #fff;
  background: #0274be;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor html {
  overflow-y: scroll;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor body:not(.logged-in) {
  position: relative;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor #page {
  position: relative;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor a,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor a:focus {
  text-decoration: none;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor a,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site-header a *,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site-footer a *,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .secondary a * {
  transition: all 0.2s linear;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .capitalize {
  text-transform: uppercase;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor img {
  vertical-align: middle;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .entry-content h1,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .entry-content h2,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .entry-content h3,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .entry-content h4,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .entry-content h5,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .entry-content h6 {
  margin-bottom: 20px;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor p {
  margin-bottom: 1.75em;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor blockquote {
  margin: 1.5em 1em 1.5em 3em;
  padding: 1.2em;
  font-size: 1.1em;
  line-height: inherit;
  position: relative;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .ast-button,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .button,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor input[type="button"],
.gutenberg-editor-page #wpwrap .edit-post-visual-editor input[type="submit"] {
  border-radius: 0;
  padding: 18px 30px;
  border: 0;
  box-shadow: none;
  text-shadow: none;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .ast-button:hover,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .button:hover,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor input[type="button"]:hover,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor input[type="submit"]:hover {
  box-shadow: none;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .ast-button:active, .gutenberg-editor-page #wpwrap .edit-post-visual-editor .ast-button:focus,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .button:active,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .button:focus,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor input[type="button"]:active,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor input[type="button"]:focus,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor input[type="submit"]:active,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor input[type="submit"]:focus {
  box-shadow: none;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site-title {
  font-weight: normal;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site-title,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site-description {
  margin-bottom: 0;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site-title a,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site-title:hover a,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site-title:focus a,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site-description a,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site-description:hover a,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site-description:focus a {
  transition: all 0.2s linear;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site-title a,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site-title a:focus,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site-title a:hover,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site-title a:visited {
  color: #222;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site-description a,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site-description a:focus,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site-description a:hover,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site-description a:visited {
  color: #999;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .search-form .search-field {
  outline: none;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .ast-search-menu-icon {
  position: relative;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .ast-header-break-point.ast-header-custom-item-outside .main-header-bar .ast-search-icon {
  margin-right: 1em;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .ast-header-break-point.ast-header-custom-item-inside .main-header-bar .main-header-bar-navigation .ast-search-icon {
  display: none;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon .search-field,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon.ast-inline-search .search-field {
  width: 100%;
  padding-right: 5.5em;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon .search-submit {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding: 0 1em;
  border-radius: 0;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon .search-form {
  padding: 0;
  display: block;
  overflow: hidden;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site .skip-link {
  background-color: #f1f1f1;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #21759b;
  display: block;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 700;
  left: -9999em;
  outline: none;
  padding: 15px 23px 14px;
  text-decoration: none;
  text-transform: none;
  top: -9999em;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .site .skip-link:focus {
  clip: auto;
  height: auto;
  left: 6px;
  top: 7px;
  width: auto;
  z-index: 100000;
}

.logged-in .gutenberg-editor-page #wpwrap .edit-post-visual-editor .site .skip-link {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", sans-serif;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor h1, .gutenberg-editor-page #wpwrap .edit-post-visual-editor h2, .gutenberg-editor-page #wpwrap .edit-post-visual-editor h3, .gutenberg-editor-page #wpwrap .edit-post-visual-editor h4, .gutenberg-editor-page #wpwrap .edit-post-visual-editor h5, .gutenberg-editor-page #wpwrap .edit-post-visual-editor h6 {
  clear: both;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor h1,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .entry-content h1 {
  color: #3a3a3a;
  font-size: 2em;
  line-height: 1.2;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor h2,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .entry-content h2 {
  color: #3a3a3a;
  font-size: 1.7em;
  line-height: 1.3;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor h3,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .entry-content h3 {
  color: #3a3a3a;
  font-size: 1.5em;
  line-height: 1.4;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor h4,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .entry-content h4 {
  color: #3a3a3a;
  line-height: 1.5;
  font-size: 1.3em;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor h5,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .entry-content h5 {
  color: #3a3a3a;
  line-height: 1.6;
  font-size: 1.2em;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor h6,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .entry-content h6 {
  color: #3a3a3a;
  line-height: 1.7;
  font-size: 1.1em;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor p,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .editor-block-list__block p {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-weight: inherit;
  font-size: 15px;
  font-size: 1rem;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .editor-post-title__block textarea {
  font-size: 30px;
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-weight: normal;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .editor-block-list__block {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .editor-post-title__block,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .editor-default-block-appender,
.gutenberg-editor-page #wpwrap .edit-post-visual-editor .editor-block-list__block {
  max-width: 1200px;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .editor-block-list__block[data-align=full] {
  max-width: none;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .editor-block-list__block[data-align=wide] {
  max-width: 1400px;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .wp-block-latest-posts.is-grid {
  list-style: none;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .wp-block-gallery {
  margin: 0;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .wp-block-gallery.is-cropped .blocks-gallery-item img {
  height: 100%;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .wp-block-latest-posts {
  margin-left: 0;
}

.gutenberg-editor-page #wpwrap .edit-post-visual-editor .wp-block-latest-posts li {
  list-style: none;
}
