.ast-responsive-btns,
.customize-control-title {
  display: inline-block;
}

.ast-responsive-btns {
  float: right;
  vertical-align: middle;
}

.ast-responsive-btns > li {
  margin-bottom: 0;
  vertical-align: middle;
  display: none;
}

.ast-responsive-btns > li.active {
  display: inline-block;
}

.ast-responsive-btns button[type="button"] {
  padding: 0;
  height: 15px;
  cursor: pointer;
  vertical-align: middle;
  background: none;
  border: none;
  opacity: .75;
  outline: none;
}

.ast-responsive-btns button[type="button"] > i {
  width: 15px;
  height: 15px;
  font-size: 15px;
}

.customize-control-ast-responsive .input-wrapper input {
  display: none;
  width: calc(100% - 52px);
  float: left;
}

.customize-control-ast-responsive .input-wrapper input.active {
  display: inline-block;
}

.customize-control-ast-responsive .input-wrapper .ast-responsive-select {
  width: 50px;
  margin: 0;
  display: inline-block;
  padding: .1em;
  margin-left: 2px;
}
