/*----------  Mixins  ----------*/
@import "mixins/mixins-master";

/*----------  Site Variables  ----------*/
@import "variables-site/colors";
@import "variables-site/structure";
@import "variables-site/typography";

/*----------  Site Normalize  ----------*/
@import "site-normalize/site-normalize";
@import "site-normalize/typography";

/*----------  Elements ----------*/
@import "elements/element-social-follow.scss";
@import "elements/element-search.scss";
@import "elements/element-email.scss";

/*----------  Media ----------*/
@import "media/galleries";

/*----------  Basic Layout  ----------*/
@import "layout/layout";

/*----------  Navigation  ----------*/
@import "navigation/navigation";

/*----------  Header  ----------*/
@import "header/header";

/*----------  Primary  ----------*/
@import "primary/primary";

/*----------  Secondary  ----------*/
@import "secondary/secondary";

/*----------  Footer  ----------*/
@import "footer/footer";

/*----------  Forms  ----------*/
@import "forms/forms";

/*----------  Blog  ----------*/
@import "blog/blog";

/*----------  404  ----------*/
@import "404/404";

/*----------  Blog Styles  ----------*/
@import "blog/blog-layouts/blog-styles/blog-layout-1";

@import "layout/flex";

/**
 * CSS is generated in /assets/css/{unminified/minified}/
 * And fonts are added in /assets/fonts/
 * For that added URL '../../' here.
 */
@font-face {
	font-family: 'Astra';
		src: url(../../fonts/Astra.woff) format('woff'),
    	url(../../fonts/Astra.ttf) format("truetype"),
    	url(../../fonts/Astra.svg#Astra) format("svg");;
	font-weight: normal;
	font-style: normal;
}
