/**
 * Astra Theme compatibility with Elementor
 */

.ast-left-sidebar,
.ast-right-sidebar {
	.elementor-section.elementor-section-stretched {
		max-width: 100%;
		left: 0 !important;
	}
}

// Add Default elementor styling to the post article when elementor prodct widget is used.
.elementor-post {
	&.elementor-grid-item{
		&.hentry{
			margin-bottom: 0;
		}
	}
}

// Add Default elementor styling to the product list when elementor prodct widget is used.
.elementor-page {
	.elementor-element{
		.elementor-wc-products{
			.woocommerce[class*='columns-']{
				ul.products{
					li.product{
						width: auto;
						padding: 0;
						margin: 0;
						float: none;
					}
				}
			}
		}
	}
}