/**
 * Astra Theme compatibility with Elementor
 */

.ast-left-sidebar,
.ast-right-sidebar {
	.elementor-section.elementor-section-stretched {
		max-width: 100%;
		left: 0 !important;
	}
}

.elementor-editor-active {
	.elementor-element {
		&>.elementor-element-overlay {
			z-index: 100;
		}
	}
}
