.customize-control-ast-radio-image label {
  position: relative;
  display: inline-block;
  margin: 0 5px 5px 0;
}

.customize-control-ast-radio-image input {
  display: none;
}

.customize-control-ast-radio-image input img {
  border: 1px solid transparent;
}

.customize-control-ast-radio-image input + label img {
  border: 1px solid #f1f1f1;
}

.customize-control-ast-radio-image input:checked + label img {
  border: 1px solid #80868c;
}

.customize-control-ast-radio-image input:checked + label .disable {
  border: 1px solid #80868c;
}

.customize-control-ast-radio-image input + label .image-clickable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.customize-control-ast-radio-image input + label .image-clickable.disable {
  width: 115px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  background: #fff;
  border: 1px solid #d4d5d6;
  top: -2px;
}

.customize-control-ast-radio-image input + label .image-clickable.small-size {
  width: 76px;
}
