.ast-spacing-responsive-btns,
.customize-control-title {
  display: inline-block;
}

.ast-spacing-responsive-btns {
  float: right;
  line-height: 1;
  margin-top: 3px;
}

.ast-spacing-responsive-btns > li {
  margin-bottom: 0;
  display: none;
}

.ast-spacing-responsive-btns > li.active {
  display: inline-block;
}

.ast-spacing-responsive-btns button[type="button"] {
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  opacity: .75;
  outline: none;
}

.ast-spacing-responsive-btns button[type="button"] > i {
  width: 15px;
  height: 15px;
  font-size: 15px;
}

.customize-control-ast-responsive-spacing {
  /* Unit Screen wrap */
}

.customize-control-ast-responsive-spacing .ast-spacing-responsive-units-screen-wrap:after {
  content: "";
  display: table;
  clear: both;
}

.customize-control-ast-responsive-spacing .ast-spacing-responsive-units-screen-wrap .ast-spacing-responsive-units,
.customize-control-ast-responsive-spacing .ast-spacing-responsive-units-screen-wrap .ast-spacing-responsive-btns {
  font-size: 11px;
  text-transform: uppercase;
  display: inline-block;
  width: 49%;
}

.customize-control-ast-responsive-spacing .ast-spacing-responsive-units-screen-wrap .ast-spacing-responsive-btns {
  text-align: right;
}

.customize-control-ast-responsive-spacing .ast-spacing-responsive-units-screen-wrap .ast-spacing-responsive-units li.single-unit {
  display: inline-block;
  margin-right: 6px;
  width: 16px;
  text-align: center;
  user-select: none;
  opacity: 0.7;
  margin-bottom: 3px;
}

.customize-control-ast-responsive-spacing .ast-spacing-responsive-units-screen-wrap .ast-spacing-responsive-units li.single-unit.active {
  font-weight: bold;
  text-decoration: underline;
  opacity: 1;
}

.customize-control-ast-responsive-spacing .input-wrapper .ast-spacing-wrapper {
  display: none;
  position: relative;
}

.customize-control-ast-responsive-spacing .input-wrapper .ast-spacing-wrapper li {
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

.customize-control-ast-responsive-spacing .input-wrapper .ast-spacing-wrapper li input.ast-spacing-input {
  text-align: center;
}

.customize-control-ast-responsive-spacing .input-wrapper .ast-spacing-wrapper.active {
  display: flex;
}

.customize-control-ast-responsive-spacing .input-wrapper .ast-spacing-wrapper span.ast-spacing-title {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  opacity: 0.7;
}

.customize-control-ast-responsive-spacing .input-wrapper .ast-spacing-wrapper .ast-spacing-input-item-link .ast-spacing-connected {
  display: none;
}

.customize-control-ast-responsive-spacing .input-wrapper .ast-spacing-wrapper .ast-spacing-input-item-link.disconnected .ast-spacing-disconnected {
  display: none;
}

.customize-control-ast-responsive-spacing .input-wrapper .ast-spacing-wrapper .ast-spacing-input-item-link.disconnected .ast-spacing-connected {
  display: block;
}

.customize-control-ast-responsive-spacing .input-wrapper .ast-spacing-wrapper .ast-spacing-input-item-link span {
  width: 45px;
  height: 26px;
  line-height: 26px;
  font-size: 16px;
  border: 1px solid #ddd;
}
