
.ast-spacing-responsive-btns,
.customize-control-title {
	display:inline-block;
}

.ast-spacing-responsive-btns {
	float:right;
	line-height: 1;
	margin-top: 5px;

	> li {
		margin-bottom: 0;
		display: none;

		&.active {
			display: inline-block;
		}
	}

	button[type="button"] {
		padding: 0;
		cursor: pointer;
		background: none;
		border: none;
		opacity: .75;
		outline: none;

		> i {
			width: 15px;
			height: 15px;
			font-size: 15px;
		}
	}
}

.customize-control-ast-responsive-spacing {
	/* Unit Screen wrap */
	.ast-spacing-responsive-units-screen-wrap {
		.ast-spacing-responsive-units,
		.ast-spacing-responsive-btns {
		    width: 49%;
		    display: inline-block;
		}

		.ast-spacing-responsive-btns {
		    text-align: right;
		}

		.ast-spacing-responsive-units {
			li.single-unit {
			    display: inline-block;
			    margin-right: 6px;
			    width: 16px;
    			text-align: center;
    			user-select: none;

				&.active {
					font-weight: bold;
					text-decoration: underline;
				}
			}
		}
	}

	.input-wrapper {
		.ast-spacing-wrapper {
			display: none;
			position: relative;
			li{
				text-align: center;
				-webkit-box-flex: 1;
				-ms-flex: auto;
				flex: auto;
				input.ast-spacing-input{
					text-align: center;
				}
			}

			&.active {
				display: flex;
			}

			span.ast-spacing-title{
				font-size:12px;
			}
			.ast-spacing-input-item-link{
				.ast-spacing-connected {
					display: none;
				}
				&.disconnected {
					.ast-spacing-disconnected{ 
						display: none;
					}
					.ast-spacing-connected {
						display: block;
					}
				}
				span {
					width: 45px;
					height: 26px;
					line-height: 26px;
					font-size: 16px;
					border: 1px solid #ddd;
				}
			}
		}
	}
}