.ast-spacing-responsive-btns,
.customize-control-title {
  display: inline-block;
}

.ast-spacing-responsive-btns {
  float: right;
  line-height: 1;
  margin-top: 5px;
}

.ast-spacing-responsive-btns > li {
  margin-bottom: 0;
  display: none;
}

.ast-spacing-responsive-btns > li.active {
  display: inline-block;
}

.ast-spacing-responsive-btns button[type="button"] {
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  opacity: .75;
  outline: none;
}

.ast-spacing-responsive-btns button[type="button"] > i {
  width: 15px;
  height: 15px;
  font-size: 15px;
}

.customize-control-ast-spacing .input-wrapper .ast-spacing-wrapper {
  display: none;
  position: relative;
}

.customize-control-ast-spacing .input-wrapper .ast-spacing-wrapper li {
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

.customize-control-ast-spacing .input-wrapper .ast-spacing-wrapper li input.ast-spacing-input {
  text-align: center;
}

.customize-control-ast-spacing .input-wrapper .ast-spacing-wrapper.active {
  display: flex;
}

.customize-control-ast-spacing .input-wrapper .ast-spacing-wrapper span.ast-spacing-title {
  font-size: 12px;
}

.customize-control-ast-spacing .input-wrapper .ast-spacing-wrapper .ast-spacing-input-item-link .ast-spacing-connected {
  display: none;
}

.customize-control-ast-spacing .input-wrapper .ast-spacing-wrapper .ast-spacing-input-item-link.disconnected .ast-spacing-disconnected {
  display: none;
}

.customize-control-ast-spacing .input-wrapper .ast-spacing-wrapper .ast-spacing-input-item-link.disconnected .ast-spacing-connected {
  display: block;
}

.customize-control-ast-spacing .input-wrapper .ast-spacing-wrapper .ast-spacing-input-item-link span {
  width: 45px;
  height: 26px;
  line-height: 26px;
  font-size: 16px;
  border: 1px solid #ddd;
}
