/**
 * LearnDash Compatibility
 */
/**
 * Astra Theme compatibility with LearnDash
 */
/*----------  Media Query min-width Structure   ----------*/
/*----------  Media Query max-width Structure   ----------*/
/*----------  Break-point min-width Structure   ----------*/
/*----------  Break-point max-width Structure   ----------*/
body #ld_course_list #ld_topic_categorydropdown,
body #ld_course_list #ld_lesson_categorydropdown,
body #ld_course_list #ld_course_categorydropdown {
  margin-bottom: 1em;
}

body #ld_course_list .ld_course_grid .caption {
  padding: 15px;
  position: relative;
}

body #ld_course_list .ld_course_grid .caption *:last-child {
  margin-bottom: 0;
}

body #ld_course_list .ld_course_grid .caption .entry-title {
  margin-bottom: 5px;
}

body dd.course_progress {
  width: 100%;
}

body .learndash_navigation_lesson_topics_list ul .topic-notcompleted span,
body .learndash_topic_dots ul .topic-notcompleted span {
  margin: 5px 0;
}

body .learndash_navigation_lesson_topics_list ul .topic-completed span,
body .learndash_navigation_lesson_topics_list ul .topic-notcompleted span,
body .learndash_topic_dots ul .topic-completed span,
body .learndash_topic_dots ul .topic-notcompleted span {
  padding-left: 0;
  background: none;
  margin: 5px 0;
}

body .learndash_navigation_lesson_topics_list ul .topic-completed span:before,
body .learndash_navigation_lesson_topics_list ul .topic-notcompleted span:before,
body .learndash_topic_dots ul .topic-completed span:before,
body .learndash_topic_dots ul .topic-notcompleted span:before {
  content: "\26AB";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1em;
  font-weight: normal;
  margin-right: .5em;
}

body .learndash .completed:after,
body .learndash .notcompleted:after {
  width: 1.25em;
  position: absolute;
  top: 5px;
  right: .75em;
  text-align: right;
}

body .learndash .topic-completed span,
body .learndash .topic-notcompleted span {
  background: none;
  padding: 0;
}

body .learndash .topic-completed span:before,
body .learndash .topic-notcompleted span:before {
  content: "\26AB";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.75em;
}

body .widget_course_return,
body #course_navigation .widget_course_return a,
body #learndash_lessons,
body #learndash_quizzes,
body .expand_collapse,
body .notavailable_message,
body #learndash_lesson_topics_list div > strong,
body #learndash_lesson_topics_list div ul > li .sn,
body .learndash_profile_heading,
body #learndash_profile a,
body #learndash_profile div,
body #learndash_lessons a,
body #learndash_quizzes a,
body .expand_collapse a,
body .learndash_topic_dots a,
body .learndash_topic_dots a > span,
body #learndash_lesson_topics_list span a {
  font-size: 1rem;
  font-weight: inherit;
}

body #course_list > div h4 > a {
  padding: 5px .75em;
}

body #course_list .list-count,
body #lessons_list .list-count,
body #quiz_list .list-count {
  border-right: none;
  pointer-events: none;
  min-width: 2.5em;
}

body #course_list > div:nth-of-type(odd),
body #lessons_list > div:nth-of-type(odd),
body #quiz_list > div:nth-of-type(odd) {
  background: #f3f3f3;
}

body #course_list > div h4 > a,
body #lessons_list > div h4 > a,
body #quiz_list > div h4 > a {
  padding: 5px 2.5em;
  margin-left: -2.5em;
  margin-left: -webkit-calc( -2.5em - 1px);
  margin-left: calc( -2.5em - 1px);
  position: relative;
}

body #learndash_lessons #lesson_heading,
body #learndash_profile .learndash_profile_heading,
body #learndash_quizzes #quiz_heading,
body #learndash_lesson_topics_list div > strong {
  padding: 5px .75em;
}

body #learndash_lessons .right,
body #learndash_quizzes .right {
  width: auto;
}

body .expand_collapse,
body #learndash_profile .expand_collapse {
  top: -1em;
}

body .expand_collapse a,
body #learndash_profile .expand_collapse a {
  font-size: .8em;
}

body .learndash .completed,
body .learndash .notcompleted,
body #learndash_profile .completed,
body #learndash_profile .notcompleted {
  line-height: 1.7;
  background: none;
}

body .learndash .completed:after,
body .learndash .notcompleted:after,
body #learndash_profile .completed:after,
body #learndash_profile .notcompleted:after {
  content: "\e901";
  display: inline-block;
  font-family: 'Astra';
  font-weight: bold;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  text-indent: 0;
  font-size: 1.25em;
  line-height: 1.3;
}

body .list_arrow.collapse, body .list_arrow.expand {
  background: none;
  padding: 10px;
  line-height: 1.5;
  vertical-align: top;
}

body .list_arrow:before {
  content: "\e900";
  display: inline-block;
  font-family: 'Astra';
  font-weight: bold;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: .8em;
}

body .list_arrow.collapse {
  background-position: 50% .5em;
}

body .list_arrow.collapse:before {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

body #course_navigation .learndash_navigation_lesson_topics_list .list_lessons {
  margin-bottom: 5px;
}

body #course_navigation .learndash_navigation_lesson_topics_list .lesson {
  margin: 0 0 0 5px;
}

body #course_navigation .learndash_navigation_lesson_topics_list .list_arrow {
  background: none;
  line-height: inherit;
}

body .widget_sfwd-lessons-widget ul {
  padding: 0;
}

body .widget_sfwd-lessons-widget ul li a {
  font-size: 1rem;
  line-height: 1.75;
}

body #learndash_profile {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body #learndash_profile .course_overview_heading,
body #learndash_profile .no_radius {
  -webkit-border-radius: 0;
  border-radius: 0;
}

body #learndash_profile .profile_info,
body #learndash_profile #course_list {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

body #learndash_profile .profile_info {
  margin-bottom: 1em;
}

body #learndash_profile .course_progress,
body #learndash_profile .learndash-course-link {
  margin-left: auto;
  margin-right: auto;
}

body #learndash_profile .learndash_profile_heading.course_overview_heading {
  padding-left: 0;
  background: none;
  color: inherit;
  font-weight: bold;
}

body #learndash_profile .learndash_profile_heading .ld_profile_certificate {
  margin: auto;
  padding-right: 10px;
}

body #learndash_profile .learndash_profile_heading .ld_profile_status {
  text-align: right;
  width: auto;
  padding-left: 10px;
}

body #learndash_profile .learndash-course-certificate,
body #learndash_profile .learndash-course-link,
body #learndash_profile .learndash-course-status {
  margin: 0 auto;
}

body #learndash_profile .learndash-course-certificate a,
body #learndash_profile .learndash-course-link a,
body #learndash_profile .learndash-course-status a {
  line-height: inherit;
  padding: 10px 0;
}

body #learndash_profile .learndash-course-link {
  width: -webkit-calc( 100% - 130px);
  width: calc( 100% - 130px);
}

body #learndash_profile .learndash-course-certificate {
  padding: 0 .75em;
  width: 80px;
}

body #learndash_profile .learndash-course-status {
  padding: 0 .75em;
  width: 50px;
}

body #learndash_profile .learndash_profile_details > div {
  margin-top: 0;
}

body #learndash_profile .profile_edit_profile a {
  font-size: .75em;
}

body #learndash_profile .list_arrow {
  border-right: none;
}

body #learndash_course_content .learndash_topic_dots ul > li, body #learndash_course_content .learndash_topic_dots ul > li:hover, body #learndash_course_content .learndash_topic_dots ul > li.nth-of-type-odd {
  background: transparent;
}

body #learndash_course_content .learndash_topic_dots ul > li a {
  padding: 0 .75em 0 0;
}

body #learndash_course_content_title {
  margin-bottom: 10px;
  font-weight: 600;
}

body #learndash_lessons,
body #learndash_quizzes {
  border: none;
}

body #learndash_lessons h4 > a:hover,
body #learndash_quizzes h4 > a:hover {
  background: none;
}

body #learndash_lesson_topics_list ul > li > span.topic_item:hover {
  background: none;
}

body .widget_sfwd-certificates-widget h4,
body .widget_sfwd-transactions-widget h4,
body .widget_sfwd-courses-widget h4 {
  font-size: 1em;
  line-height: inherit;
}

body .widget_ldcourseinfo #course_progress_details {
  margin-top: 1em;
}

body .widget_ldcourseinfo h4 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

body .widget_ldcourseinfo .ld-course-info-my-courses {
  vertical-align: top;
  margin-bottom: 5px;
  line-height: 1.5;
  display: inline-block;
}

body .widget_ldcourseinfo .ld-course-info-my-courses img {
  vertical-align: top;
  margin-right: .5em;
  display: inline-block;
  float: left;
}

body .widget_ldcourseinfo .ld-course-info-my-courses h2.ld-entry-title {
  font-size: 1em;
  width: -webkit-calc(70% - .5em);
  width: calc(70% - .5em);
  display: inline-block;
}
