/**
 * LearnDash Compatibility
 */
/**
 * Astra Theme compatibility with LearnDash
 */
/*----------  Media Query min-width Structure   ----------*/
/*----------  Media Query max-width Structure   ----------*/
/*----------  Break-point min-width Structure   ----------*/
/*----------  Break-point max-width Structure   ----------*/
body #ld_course_list #ld_topic_categorydropdown,
body #ld_course_list #ld_lesson_categorydropdown,
body #ld_course_list #ld_course_categorydropdown {
  margin-bottom: 1em;
}

body #ld_course_list .ld_course_grid .caption {
  padding: 15px;
  position: relative;
}

body #ld_course_list .ld_course_grid .caption *:last-child {
  margin-bottom: 0;
}

body #ld_course_list .ld_course_grid .caption .entry-title {
  margin-bottom: 5px;
}

body dd.course_progress {
  width: 100%;
}

body .learndash_topic_dots ul .topic-notcompleted span {
  margin: 5px 0;
}

body .widget_course_return,
body #course_navigation .widget_course_return a,
body #learndash_lessons,
body #learndash_quizzes,
body .expand_collapse,
body .notavailable_message,
body #learndash_lesson_topics_list div > strong,
body #learndash_lesson_topics_list div ul > li .sn,
body .learndash_profile_heading,
body #learndash_profile a,
body #learndash_profile div,
body #learndash_lessons a,
body #learndash_quizzes a,
body .expand_collapse a,
body .learndash_topic_dots a,
body .learndash_topic_dots a > span,
body #learndash_lesson_topics_list span a {
  font-size: 1rem;
  font-weight: inherit;
}

body #lessons_list > div h4 > a,
body #course_list > div h4 > a,
body #quiz_list > div h4 > a {
  padding-top: 5px;
  padding-bottom: 5px;
}

body .expand_collapse,
body #learndash_profile .expand_collapse {
  top: -1em;
}

body .expand_collapse a,
body #learndash_profile .expand_collapse a {
  font-size: .8em;
}

body .learndash .completed,
body .learndash .notcompleted,
body #learndash_profile .completed,
body #learndash_profile .notcompleted {
  line-height: 1.7;
  -webkit-background-size: 1.5em 1.5em;
  background-size: 1.5em;
  background-position: 97% center;
}

body #course_navigation .learndash_navigation_lesson_topics_list .list_lessons {
  margin-bottom: 5px;
}

body #course_navigation .learndash_navigation_lesson_topics_list .lesson {
  margin: 0 0 0 5px;
}

body #course_navigation .learndash_navigation_lesson_topics_list .list_arrow.collapse {
  background-position: 50% .5em;
}

body #course_navigation .learndash_navigation_lesson_topics_list .list_arrow.expand {
  background-position: 50% .75em;
}

body .widget_sfwd-lessons-widget ul {
  padding: 0;
}

body .widget_sfwd-lessons-widget ul li a {
  font-size: 1rem;
  line-height: 1.75;
}

body #learndash_profile .course_overview_heading,
body #learndash_profile .no_radius {
  -webkit-border-radius: 0;
  border-radius: 0;
}

body #learndash_profile .learndash-course-certificate a,
body #learndash_profile .learndash-course-link a,
body #learndash_profile .learndash-course-status a {
  line-height: inherit;
}

body #learndash_profile .list_arrow.collapse {
  background-position: 50% 1em;
}

body #learndash_profile .list_arrow.expand {
  background-position: 50% 1.25em;
}

body #learndash_profile .learndash_profile_details > div {
  margin-top: 0;
}

body #learndash_profile .profile_edit_profile a {
  font-size: .75em;
}

body #learndash_course_content_title {
  margin-bottom: 10px;
  font-weight: 600;
}

body #learndash_lessons h4 > a:hover,
body #learndash_quizzes h4 > a:hover {
  background-color: #f6f6f6;
}

body #learndash_lesson_topics_list ul > li > span.topic_item:hover {
  background-color: #f6f6f6;
}

body .widget_sfwd-certificates-widget h4,
body .widget_sfwd-transactions-widget h4,
body .widget_sfwd-courses-widget h4 {
  font-size: 1em;
  line-height: inherit;
}

body .widget_ldcourseinfo #course_progress_details {
  margin-top: 1em;
}

body .widget_ldcourseinfo h4 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

body .widget_ldcourseinfo .ld-course-info-my-courses {
  vertical-align: top;
  margin-bottom: 5px;
  line-height: 1.5;
  display: inline-block;
}

body .widget_ldcourseinfo .ld-course-info-my-courses img {
  vertical-align: top;
  margin-right: .5em;
  display: inline-block;
  float: left;
}

body .widget_ldcourseinfo .ld-course-info-my-courses h2.ld-entry-title {
  font-size: 1em;
  width: -webkit-calc(70% - .5em);
  width: calc(70% - .5em);
  display: inline-block;
}
