// class to hide elements
.hidden {
	display: none !important;
}

body{
	background-color: $color-background-body;
}
// Page alignment
#page {
	display: block;
}
#primary,
#secondary {
	display: block;
	position:relative;
	float: left;
	width: $width-site-main;
}
#primary{
	margin: 3em 0;
}

#secondary{
	margin: 3em 0 3em;
	word-break: break-word;
	line-height: 2;

	@media (max-width: $mx-col-md) {
		&.secondary {
			padding-top: 0;
		}
	}

	li {
		margin-bottom: 0.25em;
	}

	li:last-child {
		margin-bottom: 0;
	}
}

.ast-article-post,
.ast-article-single{
	padding-bottom: 3em;
}

//separate container content layout
.ast-separate-container{
	background-color: $color-background-sep-content-body;
	#primary{
		padding: 3em 0;
		margin: 0;
		border: 0;
	}
	.site-main > .ast-row {
    	margin-left: 0;
    	margin-right: 0;
	}
	.ast-article-post,
	.ast-article-single{
		background-color: $color-background-content;
		margin: 0;
		padding: 3em;
	}
	.ast-article-post{
		border-bottom: 1px solid $color-border-content;
	}
	&.ast-two-container{
		.ast-article-post{
			margin-bottom: 10px;
			margin-top: 10px;
			border-bottom: 0;
		}
		.ast-article-post:first-child{
			margin-top: 0;
		}
		@media (max-width: $mx-col-sm) {
			.ast-article-post:last-child{
				margin-bottom: 0;
			}
		}
	}
	.blog-layout-1{
        padding: 0;
        border-bottom: 0;
    }
	.ast-article-single {
		border-bottom: 0;
	}

	@media (max-width: $mx-col-xl) {
		.ast-article-post,
		.ast-article-single {
		    margin: 0;
		    padding: 3em;
		}
	}
	@media (max-width: $mx-col-md) {
		.ast-article-post,
		.ast-article-single {
		    padding: 3em;
		}
		#primary,
		#secondary{
			padding: 1.5em 0;
		}
		&.ast-two-container{
			#secondary {
				padding-left: 0;
				padding-right: 0;
			}
		}
		.site-content {
			.ast-container {
				padding-top: 20px;
			}
		}
	}
	@media (max-width: $mx-col-sm) {
		.ast-article-post,
		.ast-article-single{
		    padding: 2em;
		}
		#primary{
			padding-top: 0;
		}
		#secondary{
			padding-top: 1em;
		}
		.site-content {
			.ast-container {
				padding: 10px;
			}
		}
		.ast-pagination {
			padding: 2em 2em 1em 2em;
		}
	}
}

.ast-plain-container {
	.hentry {
		margin: 0;
	}
	.ast-article-post:last-child, 
	.ast-article-single:last-child {
		padding-bottom: 0;
	}
	@media (max-width: $mx-col-md) {
		.no-results {
			margin: 3em 0 3em 0;
		}
		.ast-pagination {
			padding-bottom: 1.5em;
		}
		&.single {
			#primary {
				padding-bottom: 2em;
			}
			.ast-article-post,
			.ast-article-single {
				padding: 3em 0 3em 0;
			}
		}
		&.page {
			.ast-article-post,
			.ast-article-single {
				padding: 3em 0 2.5em 0;
			}
		}
		.ast-article-post,
		.ast-article-single {
			padding: 3em 1.5em 0 1.5em;
		}
		.ast-archive-description {
			margin-bottom: 0;
			padding-top: 3em;
		}
	}
	@media (max-width: $mx-col-sm) {
		&.blog {
			.ast-article-post:first-child,
			.ast-article-single:first-child {
				padding-top: 1em;
			}
		}
		.ast-article-post,
		.ast-article-single {
			padding: 2em 1em 0 1em;
		}
		&.single {
			.entry-header {
				margin-bottom: 1em;
			}	
		}
		.ast-archive-description {
			margin-bottom: 0;
			padding: 1em 1em 1.9em 1em;
		}
		.site-content {
			.ast-container {
				padding: 10px;
			}
		}
		.ast-pagination {
			padding: 2em;
		}
		.ast-row {
			margin-right: 0;
			margin-left: 0;
		}
		&.single .ast-article-post, 
		&.single .ast-article-single {
			padding: 1em;
		}
		&.page .ast-article-post, 
		&.page .ast-article-single {
			padding: 1em;
		}
		&.ast-right-sidebar #secondary,
		&.ast-left-sidebar #secondary {
			padding-left: 1em;
			padding-right: 1em;
		}
		.no-results {
			margin: 2em 1em 2em 1em;
		}
	}
}

//page builder content layout
.ast-page-builder-template {

	.hentry {
		margin: 0;
	}
	.hentry:first-child,
	.ast-article-single {
		margin-top: 3em;
	}
	.hentry:last-child {
		padding-bottom: 0;
	}
	.site-content > .ast-container {
		max-width: 100%;
	    padding: 0;
	}
	.site-content #primary{
		padding:0;
		margin:0;
	}
	.no-results {
	    text-align: center;
		margin: 3em auto;
	}

	.ast-pagination {
		padding: 2em;
	}

	.entry-header {
		&.ast-no-title.ast-no-thumbnail{
			margin-top: 0;
		}
		margin-left: auto;
		margin-right: auto;
		padding-left: ($grid-gutter-width / 2);
		padding-right: ($grid-gutter-width / 2);

		&.ast-header-without-markup {
 			margin-top: 0;
 			margin-bottom: 0;
 		}

 		&.ast-no-title.ast-no-meta {
			margin-bottom: 0;
		}

		@media (max-width: $mx-col-md) { 
			margin-top: 0em;
		}
	}
	
	@media (max-width: $mx-col-md) {
		#secondary {
			margin-top: 1.5em;
		}
	}

	&.ast-left-sidebar {
		#secondary {
			padding-left: ($grid-gutter-width / 2);

			@media (max-width: $mx-col-md) {
				padding-right: ($grid-gutter-width / 2);
			}
		}
	}

	&.ast-right-sidebar {
		#secondary {
			padding-right: ($grid-gutter-width / 2);

			@media (max-width: $mx-col-md) {
				padding-left: ($grid-gutter-width / 2);
			}
		}
	}
	&.single .post-navigation {
		padding-bottom: 2em;
	}

	.ast-archive-description {
		margin-top: 3em;
		margin-bottom: 0;
		margin-left: auto;
		margin-right: auto;
		padding-left: ($grid-gutter-width / 2);
		padding-right: ($grid-gutter-width / 2);
	}
}


@media (min-width: $col-lg) {
	// padding of the content
	.ast-separate-container{
		&.ast-right-sidebar #primary,
		&.ast-left-sidebar #primary,
		#primary {
		    margin: 3em 0 ;
		    padding: 0;
		}
	}
	// Right Sidebar - Spacing Between Primary & Secondary
	.ast-right-sidebar {
		#primary {
			padding-right: 20px * 2;
		}
		#secondary {
			padding-left: 20px * 2;
		}
	}

	// Left Sidebar - Spacing Between Primary & Secondary
	.ast-left-sidebar {
		#primary {
			padding-left: 20px * 2;
		}
		#secondary {
			padding-right: 20px * 2;
		}
	}
}

@media (max-width: $mx-col-lg) {
	.ast-separate-container{
		&.ast-right-sidebar #primary,
		&.ast-left-sidebar #primary,
		#primary{
			padding-left:0;
			padding-right:0;
		}
	}
	// Right Sidebar - Spacing Between Primary & Secondary
	.ast-right-sidebar {
		#primary {
			padding-right: 20px;
		}
		#secondary {
			padding-left: 20px;
		}
	}

	// Left Sidebar - Spacing Between Primary & Secondary
	.ast-left-sidebar {
		#primary {
			padding-left: 20px;
		}
		#secondary {
			padding-right: 20px;
		}
	}
}
@media (max-width: $mx-col-md) {
	// Right Sidebar - Spacing Between Primary & Secondary
	.ast-right-sidebar {
		#primary {
			padding: 0;
		}
		#secondary {
			padding-left: 0;
		}
	}

	// Left Sidebar - Spacing Between Primary & Secondary
	.ast-left-sidebar {
		#primary {
			padding-left: 0;
		}
		#secondary {
			padding-right: 0;
		}
	}
	#primary,
	#secondary {
		padding: 1.5em 0;
		margin: 0;
	}

	.ast-left-sidebar {
		#content > .ast-container {
			display: flex;
			flex-direction: column-reverse;
			width: 100%;
		}
	}
}

//plain layout content side border
@media (min-width: $col-md) {
	.ast-right-sidebar {
		#primary {
			border-right: 1px solid $color-border-content;
		}
		#secondary{
			border-left: 1px solid $color-border-content;
			margin-left: -1px;
		}
	}
	.ast-left-sidebar {
		#primary {
			border-left: 1px solid $color-border-content;
		}
		#secondary{
			border-right: 1px solid $color-border-content;
			margin-right: -1px;
		}
	}
	.ast-separate-container{
		&.ast-right-sidebar,
		&.ast-left-sidebar {
			#primary {
				border: 0;
			}
			#secondary{
				border: 0;
				margin-left: auto;
				margin-right: auto;
			}
		}
		&.ast-two-container{
			&.ast-right-sidebar {
				#secondary {
					padding-left: 20px;
					padding-right: 0;
				}
			}
			&.ast-left-sidebar {
				#secondary {
					padding-right: 20px;
					padding-left: 0;
				}
			}
		}
	}
}

.entry-meta, .entry-meta * {
	line-height: 1.4;
	@media (max-width: $mx-col-sm) {
		line-height: 1.6;
	}
}