/**
 * Astra Theme compatibility with Beaver Builder
 */
/*----------  Media Query min-width Structure   ----------*/
/*----------  Media Query max-width Structure   ----------*/
/*----------  Break-point min-width Structure   ----------*/
/*----------  Break-point max-width Structure   ----------*/
.fl-builder-content {
  clear: both;
}

.fl-theme-builder-archive .fl-post-gallery-post.hentry,
.fl-theme-builder-archive .fl-post-column > .hentry {
  margin: 0;
}

.fl-theme-builder-archive h2.fl-post-feed-title {
  clear: initial;
}

.fl-builder.ast-no-sidebar #primary,
.fl-builder.ast-no-sidebar #secondary {
  padding-top: 0;
  padding-bottom: 0;
}

.fl-builder.ast-single-post:not(.fl-theme-builder-archive) .hentry {
  margin: 0;
}

.fl-builder :not(.ast-single-post) .entry-content,
.fl-builder .ast-single-post .entry-content {
  margin-top: 0;
  margin-bottom: 0;
}

.fl-builder #content .entry-header {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.fl-builder.ast-no-sidebar .hentry {
  margin: 0;
}

.fl-builder.search #content .entry-header {
  padding-right: 0;
  padding-left: 0;
}

.fl-builder.search #content .entry-content {
  margin-top: 1.5em;
}

.fl-builder.ast-right-sidebar #content .entry-header, .fl-builder.ast-left-sidebar #content .entry-header {
  padding-right: 0;
  padding-left: 0;
}

.ast-fluid-width-layout .fl-row-fixed-width .fl-row-fixed-width {
  padding-right: 0;
  padding-left: 0;
}

.ast-fluid-width-layout .fl-row-fixed-width .fl-row-fixed-width {
  padding-right: 0;
  padding-left: 0;
}

/* H1-H6 Margin Reset in all Modules */
.uabb-module-content h1,
.uabb-module-content h2,
.uabb-module-content h3,
.uabb-module-content h4,
.uabb-module-content h5,
.uabb-module-content h6 {
  margin: 0;
  clear: both;
}
