/**
 * Astra Theme compatibility with WooCommerce
 */
/*----------  Media Query min-width Structure   ----------*/
/*----------  Media Query max-width Structure   ----------*/
/*----------  Break-point min-width Structure   ----------*/
/*----------  Break-point max-width Structure   ----------*/
.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs.tabs::before {
  display: none;
  border: 0;
}

/**
 * Widgets Style
 */
#secondary .widget_layered_nav_filters > li,
#secondary .widget.woocommerce > li {
  margin-bottom: 0;
}

#secondary .widget .select2-container .select2-selection--multiple .select2-selection__rendered {
  display: block;
  min-height: 42px;
}

#secondary .widget .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
  margin-top: 5px;
  margin-bottom: 5px;
}

#secondary .widget .select2-search__field {
  min-height: 42px;
  margin: 0;
}

.woocommerce #secondary .woocommerce ul.cart_list,
.woocommerce #secondary .woocommerce ul.product_list_widget {
  margin: 0;
}

.woocommerce .woocommerce ul.cart_list li a,
.woocommerce .woocommerce ul.product_list_widget li a {
  font-weight: normal;
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce .widget_shopping_cart li,
.woocommerce ul.product_list_widget .cart_list li,
.woocommerce ul.product_list_widget li {
  padding: .6em 0 .6em 5em;
  min-height: 5em;
  position: relative;
  border-bottom: 1px solid #e2e2e2;
  margin: 0;
  line-height: 1.5;
}

.woocommerce .widget_shopping_cart .cart_list li:last-child, .woocommerce .widget_shopping_cart .cart_list li:last-child,
.woocommerce .widget_shopping_cart li:last-child,
.woocommerce .widget_shopping_cart li:last-child,
.woocommerce ul.product_list_widget .cart_list li:last-child,
.woocommerce ul.product_list_widget .cart_list li:last-child,
.woocommerce ul.product_list_widget li:last-child,
.woocommerce ul.product_list_widget li:last-child {
  border-bottom: none;
}

.woocommerce .widget_shopping_cart .woocommerce-mini-cart__buttons a {
  display: inline-block;
  width: -webkit-calc( 50% - 5px);
  width: calc( 50% - 5px);
  margin-right: 5px;
  text-align: center;
}

.woocommerce .widget_shopping_cart .woocommerce-mini-cart__buttons .checkout.wc-forward {
  margin-left: 5px;
  margin-right: 0;
}

.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
  padding: 5px 0;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 1.3em;
}

.woocommerce ul.product_list_widget li img {
  position: absolute;
  left: 0;
  width: 4em;
  margin: 0 0 .5em 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.woocommerce ul.product-categories > li {
  padding: 2px 0px;
}

.woocommerce ul.product-categories > li ul li:before {
  content: "\e900";
  padding: 0 5px 0 5px;
  display: inline-block;
  font-family: Astra;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 11px;
  font-size: 0.7rem;
}

.woocommerce ul.product-categories > li:first-child {
  border: none;
}

.woocommerce .widget del {
  opacity: .5;
}

.woocommerce .widget ins {
  background: inherit;
}

.woocommerce .widget .amount,
.woocommerce .widget ins {
  font-weight: 700;
}

.woocommerce .widget .star-rating {
  margin: 5px 0;
}

.woocommerce .widget_rating_filter ul li a {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.woocommerce .price_slider_amount .price_label span {
  font-weight: 700;
}

.woocommerce .widget_price_filter .ui-slider-horizontal {
  height: .2em;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  top: -.4em;
  cursor: pointer;
}

.woocommerce .widget_price_filter .price_slider_amount .button {
  font-size: .9em !important;
  padding: 8px 18px;
}

.woocommerce .widget_price_filter .price_slider {
  margin-bottom: 1.2em;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background-color: #ededed;
}

.woocommerce .widget_product_tag_cloud .tagcloud a {
  border: 1px solid #e2e2e2;
  padding: 0.5em 0.9em;
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 4px;
  line-height: 1.5;
  padding: .5em 1.2em;
  font-size: 12px !important;
  font-size: 0.8rem !important;
}

.woocommerce .widget_product_tag_cloud .tagcloud a a:hover,
.woocommerce .widget_product_tag_cloud .tagcloud a a:focus,
.woocommerce .widget_product_tag_cloud .tagcloud a a.current-item {
  background-color: #fafafa;
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li {
  padding: .5em 0 .5em 5em;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
  left: auto;
  right: 0;
  top: .5em;
  font-weight: normal;
  color: #ccc !important;
  font-size: 18px;
  width: 24px;
  height: 24px;
  line-height: 21px;
  border: 1px solid #ccc;
}

.woocommerce-product-search {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.woocommerce-product-search .search-field {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -moz-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  width: 100%;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}

.woocommerce-product-search input[type="submit"] {
  padding: 10px 15px;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}

.widget_layered_nav_filters ul li.chosen {
  padding: 0 .5em;
  margin-right: .5em;
  background: rgba(245, 245, 245, 0.75);
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-size: .8em;
}

.widget_layered_nav_filters ul li.chosen:hover {
  background-color: whitesmoke;
}

.widget_layered_nav_filters ul li.chosen a {
  display: block;
}

.widget_layered_nav_filters ul li.chosen a::before {
  margin-right: .5em;
  color: #ff1111;
}
