/**
 * 	Menu & Site Identity Centered
*/
.ast-menu-logo-centered {
	.main-header-container {
		display: block;
	}
	.site-branding {
		text-align: center;
		padding-bottom: 1em;
	}
	.site-title {
		display: block;
	}
	.main-navigation {
		ul{
			justify-content: center;
		}
	}
	.ast-header-custom-item{
		justify-content: center;
	}
}

.ast-header-break-point {
	.ast-menu-logo-centered {
		.ast-mobile-menu-buttons{
			text-align: center;
			@media ( min-width: $col-sm ) {
				padding: 0 0 1em;
			}
		}
	}
}

/**
 * 	Menu Left & Site Identity Right
*/
.ast-menu-left-logo-right {
	.main-header-container	{
		  flex-direction: row-reverse;
	}
	.main-navigation {
		ul {
			justify-content: flex-start;
		}
	}
	.ast-header-custom-item{
		justify-content: flex-start;
	}
}

@media ( min-width: $col-sm ) {
	.ast-header-break-point {
		.ast-menu-left-logo-right {
			.ast-mobile-menu-buttons {
				text-align: left;
			}
		}
	}
}
