/**
 * 	Header Layouts
 *
 * @import
 * 1 - Header Layout 1
 * 2 - Header Layout 2
 * 3 - Header Layout 3
 * 4 - Next Button Menu Item
 * 5 - Responsive Style
*/

/* 4 - Next Button Menu Item */
.main-header-bar {
	z-index: 1;
}

/**
 * 1 - Header Layout 1
*/
.ast-header-break-point {
	.header-main-layout-1 {
		.site-branding{
			padding-right: 1em;
		}
	}
}

/**
 * 2 - Header Layout 2
*/
.header-main-layout-2 {
	.main-header-container {
		display: block;
	}
	.site-branding {
		text-align: center;
		padding-bottom: 1em;
	}
	.site-title {
		justify-content: center;
	}
	.main-navigation {
		ul{
			justify-content: center;
		}
	}
	.ast-header-custom-item{
		justify-content: center;
		line-height: 1.85714285714286;
	}
	.ast-masthead-custom-menu-items{
		position: relative;
	}
	.widget{
		text-align: center;
	}
}

.ast-header-break-point {
	.header-main-layout-2 {
		.site-branding{
			display: block;
		}
		.ast-mobile-menu-buttons{
			text-align: center;
			display: block;
		}
		.site-branding,
		.ast-mobile-menu-buttons {
			padding-bottom: 1em;
		}
		.main-header-bar {
	    	padding: 1em 0 0;
	    }
	}
}

/**
 *  3 - Header Layout 3
*/
.header-main-layout-3 {
	.main-header-container	{
		  flex-direction: row-reverse;
	}
	.main-navigation {
		ul {
			justify-content: flex-start;
		}
	}
	.ast-header-custom-item{
		justify-content: flex-start;
	}
	.ast-masthead-custom-menu-items{
		position: relative;
	}
	.ast-search-menu-icon form{
		padding: 0 0 0 2em;
	}
	li .ast-search-icon{
		padding-left: .5em;
	}
	.ast-search-menu-icon {
    	left: -.5em;
    	right: 0;
    }
	li .ast-search-menu-icon {
		left: 1em;
		right: 0;
	}
}

.ast-header-break-point {
	.header-main-layout-3 {
		.ast-mobile-menu-buttons {
			justify-content: flex-start;
		}
		li .ast-search-menu-icon {
			left: 0;
		}
		.site-branding{
			padding-left: 1em;
			justify-content: flex-end;
		}
	}
}

/* Mobile Header Alignment */
@media (max-width: $mx-col-sm) {
	.ast-header-break-point {
		.ast-mobile-header-stack {
			.main-header-bar{
				padding: 1em 0 0;
			}
			.main-header-container {
				display: block;
			}
			.site-title {
				justify-content: center;
				text-align: center;
			}
			.site-branding,
			.ast-mobile-menu-buttons {
				justify-content: center;
				text-align: center;
				padding-bottom: 1em;
				padding-right: 0;
			}
		}
	}
}