/**
 *  Header Sections
 *
 *  All sections within the header.
 *
 * Contents
 * 1 - Common
 * 2 - Social Follow
 * 3 - Site Logo
 * 4 - Search Form
 *
 * # Responsive
*/

/**
 * 1 - Common
 */
/* Default Padding For Nav */
.nav-style {
	display: block;
	padding: 0 15px;
}

.site-branding {
	line-height: 1;
	align-self: center;
}

.ast-menu-toggle {
	display: none;
	background: transparent;
	color: inherit;
	border-style: dotted;
	border-color: transparent;

	&:focus,
	&:hover {
		background: transparent;
		border-color: inherit;
		color: inherit;
	}
}

.socil-font {
	float: left;
	margin-right: 10px;
}

/**
 * 4 - Search Form & Main Header
 */

.ast-main-header-nav-open {
	.main-header-bar {
    	padding-bottom: 0;
    }
}
.main-header-bar{
	z-index: 4;
	position: relative;
	line-height: 4;

	.main-header-bar-navigation {

		height: 100%;

		&:empty {
		    padding: 0;
		}
		
		.children,
		.sub-menu {
			line-height: 1.45;
		}

		.page_item_has_children > a:after,
		.menu-item-has-children > a:after {
			@include ast-has-child-menu-item();
			line-height: normal;
		}

		.ast-search-icon {
			display: block;
			z-index: 4;
			position: relative;
		}

		&.toggle-on {
			padding-top: 1em;
		}
	}

	.ast-search-menu-icon form {
		background-color: #ffffff;
	}

}

.ast-flyout-menu-enable {
	.main-header-bar {
		.ast-masthead-custom-menu-items {
			.ast-custom-button-link {
				border: none;
			}
		}
	}
}

@media (max-width: $mx-col-md) {
	.ast-mobile-header-stack .main-header-bar .ast-search-menu-icon {
	    display: inline-block;
	}

	.ast-header-break-point {
		&.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon form {
		    visibility: visible;
		    opacity: 1;
		    position: relative;
		    right: auto;
		    top: auto;
		    transform: none;
		}
		&.ast-header-custom-item-outside .ast-mobile-header-stack .main-header-bar .ast-search-icon {
		    margin: 0;
		}
		.main-header-bar .ast-search-menu-icon.slide-search form {
			right: 0;
		}
		.ast-mobile-header-stack .main-header-bar .ast-search-menu-icon.slide-search form {
		    right: -1em;
		}
	}
}

.ast-masthead-custom-menu-items .ast-dropdown-active .slide-search.astra-search-icon,
.below-header-user-select .ast-dropdown-active .slide-search.astra-search-icon,
.ast-above-header-section .user-select .ast-dropdown-active .slide-search.astra-search-icon {
    color: #757575;
}

.ast-search-menu-icon {
	
	&.slide-search form {
		backface-visibility: visible;
		visibility: hidden;
	    opacity: 0;
	    transition: all .2s;
	    position: absolute;
	    z-index: 3;
	    right: -1em;
	    top: 50%;
	    transform: translateY(-50%);
    }
	&.ast-dropdown-active.slide-search form {
		visibility: visible;
	    opacity: 1;
	}

	form {
		border: 1px solid #e7e7e7;
		line-height: normal;
		padding: 0 3em 0 0;
		@include ast-border-radius();
		display: inline-block;
		backface-visibility: hidden;
		position: relative;
		color: inherit;
		background-color: #fff;
	}

	.astra-search-icon {
		display: flex;
		line-height: normal;

		&:focus {
			outline: none;
		}
	}


	.search-field {
		border: none;
		background-color: transparent;
		transition: width .2s;
		border-radius: inherit;
		color: inherit;
		font-size: inherit;
		width: 0;
		color: #757575;
	}

	.search-submit {
		display: none;
		background: none;
		border: none;
		font-size: 1.3em;
		color: #757575;
	}

	&.ast-dropdown-active {
		visibility: visible;
		opacity: 1;
		position: relative;
		.search-field {
			width: 235px;

			@media (max-width: $mx-col-sm) {
				width: 170px;
			}
		}
	}
}

li.ast-masthead-custom-menu-items {
	padding: 0 1em;

	a {
		padding-left: 0;
		padding-right: 0;
		vertical-align: middle;
	}
	a,
	a:hover,
	a:focus {
		background: transparent;
	}
	.ast-search-icon .astra-search-icon {
		line-height: 1;
	}
}

.ast-search-icon {
    z-index: 4;
    position: relative;
    line-height: normal;
}

.ast-primary-menu-disabled{

	&.ast-mobile-header-inline{
		.ast-masthead-custom-menu-items{
			text-align: right;
		}
	}
	
	.ast-masthead-custom-menu-items {
		flex: 1;
	}

	&.header-main-layout-2 {
		.ast-masthead-custom-menu-items {
			text-align: center;
		}
	}
	
	&.header-main-layout-3 {
		.ast-masthead-custom-menu-items {
			text-align: left;
		}
	}	
}


.ast-masthead-custom-menu-items{
	padding: 0 1em;
}

.search-custom-menu-item {
    position: relative;
}

/* Hide Mobile logo. */
.ast-mobile-header-logo{
	display: none;
}

.ast-site-identity {
	padding: 1em 0;
}

.ast-header-break-point {

	.ast-mobile-header-stack{
		.site-description {
			text-align: center;
		}
		&.ast-logo-title-inline {
			.site-description {
				text-align: left;
			}
		}
	}
	&.ast-header-custom-item-outside {
		.ast-primary-menu-disabled{
			.ast-mobile-menu-buttons {
				display: none;
			}
		}
	}

	.ast-hide-custom-menu-mobile .ast-masthead-custom-menu-items{
		display: none;
	}

	.ast-mobile-header-inline{
		.site-branding{
			text-align: left;
			padding-bottom: 0;
		}
		&.header-main-layout-3{
			.site-branding{
				text-align: right;
			}
		}
	}

	.site-header{
		.main-header-bar-wrap{
			.site-branding{
				display: flex;
				flex: 1;
				align-self: center;
			}
		}
	}

	ul li.ast-masthead-custom-menu-items a {
		padding: 0;
        display: inline-block;
		width: auto;
		border: 0;
	}

	li.ast-masthead-custom-menu-items {
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 1em;
		margin-top: 1em;
	}

	.ast-site-identity {
		width: 100%;
	}

	.main-header-bar-navigation {

		.page_item_has_children > a:after,
		.menu-item-has-children > a:after {
			display: none;
		}
	}

	.main-header-bar {
		display: block;
		line-height: 3;

		.main-header-bar-navigation {
			line-height: 3;
			display: none;

			.children,
			.sub-menu {
				line-height: 3;
			}

			.page_item_has_children,
			.menu-item-has-children {

				.sub-menu {
					display:none;
				}

				> .ast-menu-toggle {

					display: inline-block;
					position: absolute;
					font-size: inherit;
					top: -1px;
					right: 20px;
					cursor: pointer;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					padding: 0 0.907em;
					font-weight: normal;
					line-height: inherit;
					transition: all .2s;
					&::before {
						font-weight: bold;
						content: "\e900";
						font-family: 'Astra';
						text-decoration: inherit;
						display: inline-block;
					}
				}
			}
			.ast-submenu-expanded {
				>.ast-menu-toggle::before {
				   transform: rotateX(180deg);
				}
			}

			.main-header-menu {
				border-top-width: 1px;
				border-style: solid;
				border-color: #eaeaea;
			}
		}
	}

	&.ast-header-custom-item-inside .ast-search-menu-icon {
		position: relative;
		display: block;
		right: auto;
		visibility: visible;
		opacity: 1;
		transform: none;
	}

	/* Styling Nav */
	.main-navigation {
		display: block;
		width: 100%;

		ul {
			> li:first-child {
				border-top: 0;
			}

			ul {
				left: auto;
				right: auto;
			}
		}

		li {
			width: 100%;
		}
		.widget {
			margin-bottom: 1em;
			li{
				width: auto;       
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	/* Main Header */
	.main-header-bar-navigation {
		width: calc( 100% + 40px );
		margin: 0 -20px;
	}
	.main-header-menu {
		ul ul {
			top: 0;
		}
	}

	.ast-has-mobile-header-logo {
		.custom-logo,
		.astra-logo-svg {
			display: none;
		}
		.ast-mobile-header-logo{
			display: inline-block;
		}
	}
	
	&.ast-mobile-inherit-site-logo{
		.ast-has-mobile-header-logo{
			.custom-logo,
			.astra-logo-svg{
				display: block;
			}
		}
	}

	&.ast-header-custom-item-outside {

		/*.ast-search-icon {
			display: none;
		}*/

		.ast-mobile-menu-buttons {
			order: 2;
		}

		.main-header-bar-navigation {
			order: 3;
		}

		.ast-masthead-custom-menu-items {
			order: 1;
		}

		.header-main-layout-2 {
			.ast-masthead-custom-menu-items {
				text-align: center;
			}
		}

		.ast-mobile-header-inline{
			.site-branding,
			.ast-mobile-menu-buttons{
				display:flex;
			}
		}

		&.ast-header-custom-item-outside{
			.header-main-layout-2{
				.ast-mobile-menu-buttons{
					padding-bottom: 0;
				}
			}
		}

		.ast-mobile-header-inline{
			.ast-site-identity{
				width: 100%;
			}
			&.header-main-layout-3{
				.ast-site-identity{
					width: auto;
				}	
			}
			&.header-main-layout-2{
				.site-branding{
					flex: 1 1 auto;
				}
			}
		}
	}
}

@media (max-width: $mx-col-sm) {
	
	.ast-header-break-point{
		.ast-mobile-header-stack{
			.ast-mobile-menu-buttons{
				width: 100%;
			}

			.site-branding,
			.ast-mobile-menu-buttons{
				justify-content: center;
			}
			
			.main-header-bar-wrap .site-branding{
				flex: 1 1 auto;
			}
			.ast-mobile-menu-buttons{
				padding-top: 0.8em;
			}
			&.header-main-layout-2{
				.ast-mobile-menu-buttons{
					padding-top: 0.8em;
				}
			}
			&.header-main-layout-1{
				.site-branding{
					padding-bottom: 0;
				}
			}
		}
	}

	.ast-header-custom-item-outside{
		&.ast-header-break-point{
			.ast-mobile-header-stack{
				.ast-masthead-custom-menu-items{
					padding: 0.8em 1em 0 1em;
					text-align: center;
					width: 100%;
				}
				&.header-main-layout-3{
					.ast-mobile-menu-buttons,
					.ast-masthead-custom-menu-items{
						padding-top: 0.8em;
					}
				}
			}	
		}
	}
}