/**
 * edd.scss
 * Governs the general look and feel of Easy Digital Downloads sections of stores using themes that do not
 * integrate with Easy Digital Downloads specifically.
 */

// $primary:   #a46497;                                    // Primary color for buttons (alt)
// $secondary: desaturate(lighten($primary, 40%), 21%);    // Secondary buttons

/**
 * Astra Theme compatibility with Easy Digital Downloads
 */
@import "../mixins/mixins-master";
@import "../../grid/variables";
@import "../variables-site/structure";
// @import "../variables-site/colors";

.columns-1 .ast-edd-archive-article {
  width: 100%;
  margin-right: 0;
}

.columns-2 .ast-edd-archive-article {
  width: 48.4%;
  width: calc(50% - 10px);
  &:nth-child(2n) {
    margin-right: 0;
    clear: right;
  }
  &:nth-child(2n+1) {
    clear: left;
  }
}

.columns-3 .ast-edd-archive-article {
  width: 31.2%;
  width: calc( 33.33% - 14px);
  &:nth-child(3n) {
    margin-right: 0;
    clear: right;
  }
  &:nth-child(3n+1) {
    clear: left;
  }
}

.columns-4 .ast-edd-archive-article {
  width: 22.5%;
  width: calc( 25% - 15px);
  &:nth-child(4n) {
    margin-right: 0;
    clear: right;
  }
  &:nth-child(4n+1) {
    clear: left;
  }
}

.columns-5 .ast-edd-archive-article {
  width: 17.5%;
  width: calc( 20% - 16px);
  &:nth-child(5n) {
    margin-right: 0;
    clear: right;
  }
  &:nth-child(5n+1) {
    clear: left;
  }
}

.columns-6 .ast-edd-archive-article {
  width: 14%;
  width: calc( 16.66% - 16.66px);
  &:nth-child(6n) {
    margin-right: 0;
    clear: right;
  }
  &:nth-child(6n+1) {
    clear: left;
  }
}