.astra-search-icon::before {
	content: "\e8b6";
	font-family: 'Astra';
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ast-search-icon .astra-search-icon {
	font-size: 1.3em;
}

.main-navigation {
	display: inline-flex;
	font-weight:600;
	height: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		position: relative;
	}
}

.main-header-menu {

	.ast-menu-item {
		text-decoration: none;
		padding: 0 1em;
		display: inline-block;
		@include ast-transition();
	}

	.ast-menu-item-li {
		position: relative;

		&:hover > .sub-menu,
		&.focus > .sub-menu {
			right: auto;
			left: 0;
		}

		@media (min-width: $col-md) {
			&.ast-sub-menu-goes-outside:hover > .sub-menu,
			&.ast-sub-menu-goes-outside.focus > .sub-menu {
			    left: -100%;
			}
		}
	}

	.sub-menu {
		width: 240px;
		background: $color-background-header-submenu;
		left: -999em;
		position: absolute;
		top: 100%;
		z-index: 99999;

		@media (min-width: $col-md) {
			.ast-menu-item-li {
				&:hover > .sub-menu,
				&.focus > .sub-menu {
					left: 100%;
					right: auto;
				}

				&.ast-left-align-sub-menu:hover > .sub-menu,
				&.ast-left-align-sub-menu.focus > .sub-menu {
					left: -100%;
				}
			}

			.main-header-menu li.ast-sub-menu-goes-outside:hover > .sub-menu,
			.main-header-menu li.ast-sub-menu-goes-outside.focus > .sub-menu {
			    left: -100%;
			}
		}


		.ast-menu-item {
			padding: 0.9em 1em;
			display: block;
			word-wrap: break-word;
		}

		.menu-item-has-children > .ast-menu-item:after {
			position: absolute;
			right: 1em;
			top: 50%;
			transform: translate(0, -50%) rotate(270deg);
		}

	}

}

.main-header-menu {
	ul {
		ul{
			top: 0px;
		}
	}
}

.submenu-with-border {
	.sub-menu {
		border-width: 1px;
		border-style: solid;
		border-color: $color-border-submenu;

		.ast-menu-item {
			border-width: 0 0 1px;
			border-style: solid;
			border-color: $color-border-submenu;
		}
		.sub-menu{
			top: -1px;
		}
	}
}
/* Remove the last anchor border for desktop devices */
.ast-desktop{
	.submenu-with-border{
		.sub-menu {
			> .ast-menu-item-li:last-child{
				> .ast-menu-item{
					border-bottom-width: 0;
				}
			}
		}
	}
}

.ast-header-break-point {
	.main-navigation {
		padding-left: 0;

		.sub-menu {
			.ast-menu-item-li .ast-menu-item {
				padding: 0 20px;
				display: inline-block;
				width: 100%;
				border-bottom-width: 1px;
				border-style: solid;
				border-color: #eaeaea;
			}
			&.children .ast-menu-item-li .ast-menu-item,
			&.sub-menu .ast-menu-item-li .ast-menu-item {
			    padding-left: 30px;
			    &:before{
			    	content: "\e900";
				    font-family: 'Astra';
				    font-size: .65em;
				    text-decoration: inherit;
				    display: inline-block;
				    transform: translate(0, -2px) rotateZ(270deg);
    				margin-right: 5px;
			    }
			}
			&.children .ast-menu-item-li .ast-menu-item-li .ast-menu-item,
			&.sub-menu .ast-menu-item-li .ast-menu-item-li .ast-menu-item {
			    padding-left: 40px;
			}
			&.children .ast-menu-item-li .ast-menu-item-li .ast-menu-item-li .ast-menu-item,
			&.sub-menu .ast-menu-item-li .ast-menu-item-li .ast-menu-item-li .ast-menu-item {
			    padding-left: 50px;
			}
			&.children .ast-menu-item-li .ast-menu-item-li .ast-menu-item-li .ast-menu-item-li .ast-menu-item,
			&.sub-menu .ast-menu-item-li .ast-menu-item-li .ast-menu-item-li .ast-menu-item-li .ast-menu-item {
			    padding-left: 60px;
			}
		}
	}
	.ast-header-custom-item {
		background-color: $color-background-nav-mobile;
	}

	.main-header-menu{
		background-color: $color-background-nav-mobile;
	}

	.main-header-menu {
		.sub-menu {
			background-color: $color-background-nav-mobile;
			position: static;
			opacity: 1;
			visibility: visible;
			border: 0;
			width: auto;
			.ast-menu-item-li {
				&.ast-left-align-sub-menu:hover > .sub-menu,
				&.ast-left-align-sub-menu.focus > .sub-menu {
					left: 0;
				}
			}
		}
		.ast-menu-item-li {
			&.ast-sub-menu-goes-outside:hover > .sub-menu,
			&.ast-sub-menu-goes-outside.focus > .sub-menu {
			    left: 0;
			}
		}
	}

	.submenu-with-border {
		.sub-menu {
			border: 0;

			.ast-menu-item {
				border: 0;
			}
		}
	}
}