/**
 * Default
 */
.ast-desktop {
    .ast-link-pointer-style {

        > .ast-menu-item-li,
        > .ast-menu-item-li > .ast-menu-item {
            position: relative;
        }

        > .ast-menu-item-li > .ast-menu-item {
            transition: all linear 0.3s;
            
            &:before {
                display: block;
                position: absolute;
                transition: all linear 0.3s;
            }

            &:not(:hover):not(:focus):before {
                opacity: 0;
            }
        }
        > .ast-menu-item-li:hover > .ast-menu-item:not(:hover):not(:focus):before {
            opacity: 1;
        }
    }

    /**
     * Underline
     */
    .ast-link-pointer-style-underline {
        > .ast-menu-item-li > .ast-menu-item {
            &:before {
                content: '';
                bottom: 0;
            }
            &:before {
                height: 3px;
                width: 100%;
                left: 0;
                background-color: #0274be;
                z-index: 2;
            }
        }
    }

    /**
     * Overline
     */
    .ast-link-pointer-style-overline {
        > .ast-menu-item-li > .ast-menu-item {
            &:before {
                content: '';
                top: 0;
            }
            &:before {
                height: 3px;
                width: 100%;
                left: 0;
                background-color: #0274be;
                z-index: 2;
            }
        }
    }
}