/**
 * Slide Up
 */
.ast-desktop {
    .astra-menu-animation-slide-up {
        .menu-item {
            .sub-menu {
                opacity: 0;
                visibility: hidden;
                transform: translateY(0.5em);
                transition: visibility .2s ease, transform .2s ease;
            }
            &.focus .sub-menu,
            &:hover .sub-menu {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                transition: opacity .2s ease, visibility .2s ease, transform .2s ease;
            }
        }
    }

    /**
     * Slide Down
     */

    .astra-menu-animation-slide-down {
        .menu-item {
            &.focus .sub-menu,
            &:hover .sub-menu {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                transition: opacity .2s ease, visibility .2s ease, transform .2s ease;
            }
            .sub-menu {
                opacity: 0;
                visibility: hidden;
                transform: translateY(-0.5em);
                transition: visibility .2s ease, transform .2s ease;
            }
        }

    }

    /**
     * Fade
     */
    .astra-menu-animation-fade {
        .menu-item {
            &.focus .sub-menu,
            &:hover .sub-menu {
                opacity: 1;
                visibility: visible;
                transition: opacity ease-in-out .3s;
            }
            .sub-menu {
                opacity: 0;
                visibility: hidden;
                transition: opacity ease-in-out .3s;
            }
        }
    }
}    